[2017-10-14 15:24] PieterCappelle opened #2 "Import Products Categories"
When you choose to import CSV with Add/Update the categories will be added to the product. It will not overwrite the currently chosen categories. It seems logic because you choose Add/Update but I think this is not the correct way. The only option at this point you have is to choose Replace but then the whole product is deleted and created again. Which results in a much longer import-time. In my o

[2017-10-14 15:25] PieterCappelle opened #3 "Importing empty attributes"
When you have products with a lot of attributes the column 'additional_attributes' can be huge. It would be better to create new column for each attribute and not combine them in one column. Just like all other attributes. The problem when splitting by character is that you always have to check if your client will not be using that character.

[2017-10-14 15:25] PieterCappelle opened #4 "Automatic create attribute values"
When you run import and your value from your attributes hasn't been created you the import will fail. The import should create the attribute values. (not sure yet when multilingual)

[2017-10-14 15:25] PieterCappelle opened #5 "Change the value of visibility"
If your Magento2 adminhtml is in dutch the value of the column visiblity must be 'Catalogus, Zoeken' instead of 'Catalog, Search'. When you run CSV by command line the value must be Catalog, Search. We should not use strings but constants or easier, VISIBILITY_NOT_VISIBLE = 1, VISIBILITY_IN_CATALOG = 2, VISIBILITY_IN_SEARCH = 3, VISIBILITY_BOTH = 4.

[2017-10-14 15:25] PieterCappelle opened #6 "Import Related, Upsell SKU"
The related, upsell column should be executed after the import. Because when you are importing products and that product doesn't exist yet it will not import that product. Most likely the product will be created later on in that import.

[2017-10-14 15:26] PieterCappelle opened #7 "Import categories multilingual"
At this moment it is not possible to import translations of categories by Magento CSV. (Or I didn't found out yet)

[2017-10-14 15:26] PieterCappelle opened #8 "Imports for clients and for developers"
We all agree that Magento2 should add the availability to export CSV and import CSV for their customers. But we 'developers' needs an easier way to import data. Like arrays or XML.

[2017-10-14 15:26] PieterCappelle opened #9 "More examples & documentation for developers"
Add more examples in Magento2 code - add more documentation for developers in devdocs.

[2017-10-15 05:27] ajpevers opened #10 "Import very large collections without using too much memory"
The advantage of using xml is that you can read the import file piece by piece and you don't have to load the whole thing in memory first. This way it is possible to import an entire 500.000 product catalogue without needing to use 4GiB of php memory.

[2017-10-15 05:30] ajpevers opened #11 "Update existing products based on SKU"
External systems are unlikely to know the internal entity ID.

[2017-10-15 05:39] AntonEvers opened #12 "Skip records that do not require updates"
It might save time if unchanged records are not updated by the import. Maybe we can save a hash of the imported data (excluding stock of course) and save it with the product. When the product is changed manually this hash can be removed, but if the hash is still the same when a next import is run we can skip and proceed to the next one. Some external systems are unable to supply incremental export

[2017-10-15 05:42] ajpevers opened #13 "Support CSV files that have been edited with MS Office"
If it is not already the case, we should treat the term 'CSV' loosely, because spread sheet editing software does so too. So file encoding recognition and recognising different types of separators will make this an easy tool voor customers to perform bulk operations and data enrichment in excel or google sheets that Magento does not support natively.

[2017-10-15 05:47] ajpevers opened #14 "Import image files from http(s) urls"
It would be very nice if you could just add image urls in the xml/csv/arrays and the import software would download those images during the import. What would be even nicer is if the import would recognise an image that has been updated on the remote location, but which has kept the same name. This way we can ignore downloading images that already exist and update images that have changed, althoug

[2017-10-15 05:49] ajpevers opened #15 "Import scheduled changes"
Scheduled price changes for instance. It would be nice if this would work well with the EE staging functionality.

[2017-10-15 05:59] ajpevers opened #17 "Import as much as possible from corrupt import files"
It's preferred to have per product validation of import files instead of rejecting a whole file when only part of it is corrupt. Of course extensive error reporting should come with this feature. This way manual entry errors can be fixed after the bulk has been imported at the scheduled time and it will save customers a lot of frustration if they are on a tight schedule to get the new collection o

[2017-10-17 10:09] ajpevers opened #18 "Don't loop per entity mysql operations"
In order to keep the imports blazing fast, first collect all entities that we need DB info for, then load all of that data with 1 or a few paginated queries instead of repeating the same operations for every imported entity.

So for example
- first figure out which products get stock updates
- collect all stock threshold settings of all to be updated products
- import with the correct is_in_stock

[2017-10-17 18:20] PieterCappelle opened #19 "Progressbar"
Progressbar while importing in the admin backoffice. Right now it's impossible to see how many records that are already processed/imported/ignored in the database table import_history while execution.

- batch 20
- 200 of 1000 products imported

[2017-10-20 14:47] PieterCappelle opened #21 "Indexer"
It happened already 10 times that after importing products the indexer hasn't run. Need to check if everything is working correctly after import / reindex.

[2017-10-20 14:48] PieterCappelle opened #22 "Import images with same filename in different directories"
### Description
When you're trying to import one product with 2 images and both images haves the same filename but different directory only one image will be imported. The solution I proposed in the commit is not the-best-case solution, I need Magento2 architect feedback to complete this PR. Any help would be welcome.

### Fixed Issues (if relevant)
1. https://github.com/magento/magento2/issues/74

[2017-10-27 10:34] andrewhowdencom commented on #14
Might be able to use the standard HTTP primitives for this, such as storing the `e-tag` or otherwise respecting `cache-control` headers (though the latter might prove confusing for those who are unused to this)

[2017-10-27 10:37] andrewhowdencom commented on #22
I have solved this previously by comparing image MD5s. However, there were additional problems with this:

- Cached images were not regenerated; uploading a new image does not invalidate cached ones. They need to be manually deleted out of band.
- Browser cache will still keep the old image, at the same path

I think the path is "load bearing", so to say. I'm unsure of the correct solution -- it m

[2017-10-29 08:42] PieterCappelle commented on #22
@andrewhowdencom Yes, we have also been testing out with MD5s but in this case I think we need to refactor the whole image / directory system of Magento2. In my opinion we should store the filename in the database, we should MD5 the filename and store the file on filesystem with MD5.jpg names.

Example:
Filename: Dog.jpg
MD5: 22b40c5ba2e0bbb84aae205249d86782
Path on filesystem 2/2/22b40c5ba2e0bbb8

[2017-10-29 08:44] PieterCappelle commented on #14
Another important thing is to add parameter to picture names in the frontend to load the latest version of the image in the frontend. Because sometimes the content of the file changes but the filename keeps the same name.

[2017-10-30 09:15] andrewhowdencom commented on #22
Oh we can't cycle MD5's anymore as we change the data for the images now, to prevent the RCE's from file upload and execution a few weeks ago. Originals aren't stored anymore.

Re.

That doesn't help browser caches. In general, I'd advise for a far future cache expiry for images, as they're super expensive to ship over the wire and refreshing them (even if they're `e-tag`'d) is pretty expensive.

[2017-10-30 09:23] andrewhowdencom commented on #15
To expand on this environment, many clients require integration with some sort of third party database on a scheduled basis. Currently, the system most often used to employ this change is an extension to the Magneto import/export system.

It's often "import all data every morning at 8:30am".

[2017-10-30 09:29] andrewhowdencom opened #23 "Guidance on performing "map" type tasks prior to the import of data"
Among the most common requirements that accompanies import/export is the manipulation of data from the format some system exports to the system that Magento import. In several cases, there are many pools of data that might require querying to build the product set, and rare cases product attributes within Magento influence the imports behaviour.

This is a convoluted set of requirements -- it defi

[2017-11-03 18:46] piotrekkaminski opened #24 "[MAGETWO-31739] Grouped product successfully exported without GroupedImportExport Module"
_From @piotrekkaminski on November 2, 2017 21:31_

### Preconditions
Version 2.0

### Steps to reproduce

1.Delete GroopedImportExport Module before installation
2. Setup magento
3. Create several simple product
4. Create Grouped product
5. Go to System->Export
6. Perform Product Export
7. Check CSV file

### Actual result
file contain all product include grouped

### Expected result
grouped produ

[2017-11-03 18:46] piotrekkaminski commented on #24
_From @magento-engcom-team on November 3, 2017 11:23_

@piotrekkaminski, thank you for your report.
We've created internal ticket(s) MAGETWO-83230 to track progress on the issue.

[2017-11-03 18:55] piotrekkaminski opened #25 "[MAGETWO-2975] Import of products erases product order in category setting"
_From @piotrekkaminski on November 2, 2017 21:17_

Setting product position setting, exporting products, and reimporting products causes product position setting to be erased.

### Preconditions
1. Version 2.0

### STEPS TO REPRODUCE
1) Sign into admin panel
2) Create 4 test products
3) Add them all to test category
4) Go to Category settings and set positions for all 4 products
5) Export file
6)

[2017-11-03 18:55] piotrekkaminski commented on #25
_From @magento-engcom-team on November 3, 2017 13:53_

@piotrekkaminski, thank you for your report.
We've created internal ticket(s) MAGETWO-83239 to track progress on the issue.

[2017-11-03 19:41] piotrekkaminski opened #26 "[MAGETWO-2575] Import products with "Append Complex Data" behavior works incorrect with empty not required values"
_From @piotrekkaminski on November 2, 2017 20:52_

Import products with "Append Complex Data" behavior works incorrect with empty not required values

### Preconditions
1. The simple product is created with the next custom option:
- input type "Drop-down" _(for example)_, title "drop", is required "Yes", sort order "1"
-- row title "drop_title", price "$5.00", sku "12345", sort order "2"

2. The c

[2017-11-03 19:41] piotrekkaminski commented on #26
_From @koenner01 on November 3, 2017 12:45_

possible duplicates https://github.com/magento/magento2/issues/10006, https://github.com/magento/magento2/issues/7468

[2017-11-03 19:42] piotrekkaminski opened #27 "[MAGETWO-2556] Product custom options are not deleted with import (replace behavior)"
_From @piotrekkaminski on November 2, 2017 20:50_

After importing products file with no custom options in it (if Replace Existing Complex Data behavior was selected), existing product custom options are not deleted.

### Preconditions
Product created in the system with one/several custom options.
Csv file prepared that contains product information. Custom option fields are empty

### Steps to rep

[2017-11-03 19:42] piotrekkaminski opened #28 "[MAGETWO-2332] Product Export file contain the store views with which the product does not relate"
_From @piotrekkaminski on November 2, 2017 20:45_

### Preconditions
1. Several websites with stores and store views exist
2. The simple product with any custom option is created and related only to 1 website and 1 category:
3. website-> _Main Website_
4. category-> _Default Root Category-> Some Subcategory_
5. Version 2.0

### Steps to reproduce
1. On backend go to _System-> Import\Export-> Expor

[2017-11-03 19:42] piotrekkaminski opened #29 "[MAGETWO-2328] Import with Append Complex Data for product with custom options not transfer values of not default store view"
_From @piotrekkaminski on November 2, 2017 20:36_

### Preconditions

1. Several store view exists in the system
2. The simple product is created with custom option 'Checkbox' and with two rows (Default Values)
for example:

title of rows|price
---|---
title1|10
title2|20

3. Change the title and prices for custom option for not default store view
for example:

title of rows|price
---|---
update_t

[2017-11-03 19:42] piotrekkaminski commented on #29
_From @magento-engcom-team on November 3, 2017 13:30_

@piotrekkaminski, thank you for your report.
We've created internal ticket(s) MAGETWO-2328 to track progress on the issue.

[2017-11-03 19:42] piotrekkaminski opened #30 "[MAGETWO-1802] Import of file with spaces in required attributes is allowed"
_From @piotrekkaminski on November 2, 2017 20:31_

In case empty values (spaces) are specified for required attributes in import file (example: first name and last name), there is no validation error and import is done successfully. Though it's not possible to create a customer with empty first name and last name via admin interface.

### Test data
email|_website|firstname|group_id|lastname
-----

[2017-11-03 19:42] piotrekkaminski opened #31 "[MAGETWO-1543] Export - "Created At" filter works incorrect in the "entity Attributes" grid"
_From @piotrekkaminski on November 2, 2017 20:18_

### Preconditions

1. Version 2.0
2. Several customers created on the current day

### Steps to reproduce

1. Go to System-> Import/Export-> Export at backend
2. Select "Customers" entity type
3. Select "Magento 1.7 format"
4. In the grid for "Created At" attribute select today date in the "From" and "To" filter
5. Press "Continue" button

### Exp

[2017-11-03 19:42] piotrekkaminski commented on #31
_From @magento-engcom-team on November 3, 2017 9:30_

@piotrekkaminski, thank you for your report.
We've created internal ticket(s) MAGETWO-1543 to track progress on the issue.

[2017-11-03 19:48] piotrekkaminski opened #32 "[MAGETWO-1552] Export: Attribute (Input Type Yes/No) Filter by 'No' Exports All Data"
_From @piotrekkaminski on November 2, 2017 20:24_

If attribute with input type Yes/No filtered by "No", customers having attribute="Yes" are exported to csv file.

### Preconditions

1. There is a custom attribute created with input type Yes/No.
2. There is a customer in the system created with custom attribute value = "Yes".
3. Version 2.0

### Steps to reproduce

1. Go to System-> Import/Export

[2017-11-03 19:49] piotrekkaminski commented on #32
Note: it might affect EE only.

[2017-11-03 19:49] piotrekkaminski opened #33 "[MAGETWO-1556] Export: Unable to Filter Data by Attribute With Input Type Multiple Select"
_From @piotrekkaminski on November 2, 2017 20:26_

When trying to filter data by attribute with input type = Multiple Select, no data is exported to csv file.

### Preconditions

There is a custom attribute created with input type Multiple Select, 3 options enabled ("Option 1", "Option 2", "Option 3").
There is a customer in the system created with custom attribute value = "Option 1" and "Option 2

[2017-11-03 19:49] piotrekkaminski commented on #33
_From @magento-engcom-team on November 3, 2017 9:49_

@piotrekkaminski , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento

[2017-11-03 19:50] piotrekkaminski commented on #33
Possibly affects EE only

[2017-11-03 19:53] piotrekkaminski opened #34 "Grouped products not associated on import"
_From @adamlavery on October 18, 2017 9:51_

When importing grouped products, the simple products are imported but not associated with the group product.

Magento OS v2.2.0

Steps to reproduce:
1. Setup and export grouped product, including simple associated products.
2. Delete grouped product and simple products.
3. Wait for re-index. (+1 to restore re-index option from admin).
3. Import using th

[2017-11-03 19:53] piotrekkaminski commented on #34
_From @magento-engcom-team on October 23, 2017 16:30_

@adamlavery, thank you for your report.
We've created internal ticket(s) MAGETWO-82532 to track progress on the issue.

[2017-11-03 19:53] piotrekkaminski opened #35 "Table Rate Shipping method could not upload CSV file"
_From @adaemon on October 15, 2017 12:37_

### Preconditions

1. Magento version CE 2.1.5

### Steps to reproduce

1. Login to admin panel go to Store -> Configuration -> Sales -> Shipping Methods
2. Expand Table Rates and Override the default options. Select Enabled as Yes
3. Condition: # of items vs Destination
4. Save the configuration
5. Change Store view to "Main Website"
6. You could see Exp

[2017-11-03 19:53] piotrekkaminski commented on #35
_From @magento-engcom-team on October 17, 2017 10:50_

@adaemon, thank you for your report.
We've created internal ticket(s) MAGETWO-82067 to track progress on the issue.

[2017-11-03 19:54] piotrekkaminski opened #36 "BUG REPORT Can not change stock status with product CSV product import"
_From @SitionDenBosch on August 16, 2017 13:32_

### Preconditions
1.  Magento 2.1.5 and 2.1.7

### Steps to reproduce

1.  Import some products
2.  Export products to CSV
3. edit is_in_stock to 1 (or 0)
4. import the CSV back into magento with is_in_stock edited

### Expected result
1. Stock status changes according to is_in_stock

### Actual result
1. It does not change stock status

I have trie

[2017-11-03 19:54] piotrekkaminski commented on #36
_From @magento-engcom-team on September 13, 2017 10:35_

@SitionDenBosch Thank you for your report. May you please check sequence of steps to reproduce your issue in description.

[2017-11-03 19:54] piotrekkaminski commented on #36
_From @magento-engcom-team on September 27, 2017 22:0_

@SitionDenBosch, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-03 19:54] piotrekkaminski commented on #36
_From @SitionDenBosch on October 13, 2017 9:56_

I missed the 4th step to reproduce:

4. import the CSV back into magento with is_in_stock edited.

This is basically all I do and I expect the stock status to update, but it does not

[2017-11-03 19:54] piotrekkaminski commented on #36
_From @magento-engcom-team on October 13, 2017 10:41_

@SitionDenBosch, thank you for your report.
We've created internal ticket(s) MAGETWO-81890 to track progress on the issue.

[2017-11-03 19:54] piotrekkaminski commented on #36
_From @SitionDenBosch on October 13, 2017 11:6_

@magento-engcom-team Thank you for acknowledging , will updates about the issue be reported back in this bug report, or should I follow the internal ticket somewhere?

[2017-11-03 19:54] piotrekkaminski commented on #36
_From @ishakhsuvarov on October 13, 2017 14:14_

@SitionDenBosch This issue will be closed once fix is released.

[2017-11-03 19:54] piotrekkaminski commented on #36
_From @SitionDenBosch on November 1, 2017 10:29_

@magento-engcom-team When the fix is released, is it possible to see the solution, so I can create my own patch to fix it?

[2017-11-03 19:54] piotrekkaminski opened #37 "Duplicate SKU possible if importing products"
_From @pointia on June 28, 2017 8:10_

It is possible in Magento to save a product with a sku that has a leading or trailing whitespace. This can lead to duplicate skus when you import products without the leading or trailing slash.

### Preconditions
1. Magento version 1.x and 2.x - the code is the same in both versions
2. PHP 5.5 5.6 7.0 7.1
3. MySql 5.5 5.6

### Steps to reproduce
1. First crea

[2017-11-03 19:54] piotrekkaminski commented on #37
_From @koenner01 on June 29, 2017 14:11_

Probably related https://github.com/magento/magento2/issues/8235

[2017-11-03 19:54] piotrekkaminski commented on #37
_From @OleksandrBurianyk on July 7, 2017 11:17_

Thx for your reporting. We've created intenal ticket MAGETWO-70528

[2017-11-03 19:54] piotrekkaminski commented on #37
_From @magento-engcom-team on September 28, 2017 13:30_

@pointia, thank you for your report.
We've created internal ticket(s) MAGETWO-70528 to track progress on the issue.

[2017-11-03 19:54] piotrekkaminski opened #38 "CatalogImportExport: Cannot import value 0 for price attributes"
_From @koenner01 on June 21, 2017 10:30_

When you import a value of 0 for a price attribute, the value will not be imported and Magento will keep its current value for the attribute.

### Preconditions
1. MG2 CE 2.1.7 (also tested on 2.1.5, 2.1.6)
2. PHP 7.0

### Steps to reproduce
1. Create a product and set its price to greater than 0
2. Create an import CSV with data for the product and a pric

[2017-11-03 19:54] piotrekkaminski commented on #38
_From @vityakopin on June 21, 2017 15:31_

Internal ticket MAGETWO-70073 was created.

[2017-11-03 19:54] piotrekkaminski commented on #38
_From @magento-engcom-team on September 28, 2017 14:30_

@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-70073 to track progress on the issue.

[2017-11-06 17:09] piotrekkaminski opened #39 "ImportExport: Running multiple data imports in a single script can cause errors"
_From @koenner01 on November 3, 2017 9:34_

When running multiple data imports in a single script (we are first running a category import, then several product imports), problems can occur.

We are using a script that uses a \Magento\ImportExport\Model\ImportFactory to create \Magento\ImportExport\Model\Import objects for each individual import. But because the Import model object is using a singl

[2017-11-06 17:09] piotrekkaminski commented on #39
_From @koenner01 on November 3, 2017 12:59_

Ok my previously suggested fix doesn't work; I'm running into the same kind of problems when importing 10k+ products.

I'm now using the following in my module di.xml

`<type name="Magento\ImportExport\Model\ResourceModel\Import\Data" shared="false" />`

This forces every instance of the object to not be shared in the objectManager (and thus making it '

[2017-11-06 17:10] piotrekkaminski opened #40 "Import product function error. Importing "product_online" attribute value is applied to the Store but not Store View."
_From @Tonop on April 27, 2017 19:9_

### Preconditions

Magento: 2.1.6
PHP: 5.6.26
MySQL: 14.14 Distrib 5.7.15
### Steps to reproduce

There are two strore views View1 and View2
-There are to subroducts Product1 and Product2
-It is need to have Product1 is eneabled in View1 and disabled in View2
and Products2 iseneabled in View2 and disabled in View1
-Prepare two files with data for import with f

[2017-11-06 17:10] piotrekkaminski commented on #40
_From @vityakopin on June 29, 2017 9:56_

Internal ticket MAGETWO-70330 was created.

[2017-11-06 17:10] piotrekkaminski commented on #40
_From @magento-engcom-team on October 6, 2017 13:30_

@Tonop, thank you for your report.
We've created internal ticket(s) MAGETWO-70330 to track progress on the issue.

[2017-11-06 17:10] piotrekkaminski opened #41 "BundleImportExport is missing `selection_can_change_qty`"
_From @barryvdh on April 21, 2017 13:33_

### Preconditions
1. Magento 2.1.6

### Steps to reproduce
1. Create a Bundle product with options.
2. Export the product, no information about `selection_can_change_qty`
3. Import, no possibility to set `selection_can_change_qty`

![image](https://cloud.githubusercontent.com/assets/973269/25279627/5bd982f0-26a7-11e7-98b1-0d368fa19bae.png)

### Expected re

[2017-11-06 17:10] piotrekkaminski commented on #41
_From @IlnitskiyArtem on June 30, 2017 15:13_

@barryvdh, Thanks for reporting this issue. We've created internal ticket MAGETWO-70390 to address this issue.

[2017-11-06 17:10] piotrekkaminski commented on #41
_From @magento-engcom-team on October 4, 2017 9:30_

@barryvdh, thank you for your report.
We've created internal ticket(s) MAGETWO-70390 to track progress on the issue.

[2017-11-06 17:12] piotrekkaminski opened #42 "Image attribute type import issue"
_From @jroca22 on April 7, 2017 19:58_

I've created a custom image attribute and added to my attribute set as image. The thing is that when you try to import the attribute the same way you import images vis csv it only writes the value as text.

### Preconditions
Magento 2.2.0
### Steps to reproduce

1.  Create a custom image attribute and add it to your attribute set (new_image)
2. Go to any pro

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @EnricoB3 on April 13, 2017 14:11_

Same issue. The image is imported as text.

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @jroca22 on May 8, 2017 20:32_

Ciao EnricoB3,
I've just imported this field with the full final path to image. This attribute value is a string so I did this workaround.
If you find any other solution please share.
Regrds,

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @mukdam on May 9, 2017 9:27_

I have the same error.
Create an attribute which "Catalog Input Type for Store Owner" media images.
When I add addtional_attributes assign value but not import

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @amaddatu on August 2, 2017 16:13_

I have experienced a very similar issue. I have had to make a workaround. I overwrote the import class at \Magento\CatalogImportExport\Model\Import\Product with my own class preference in a module. I added a new constructor that calls the function below. My new image attribute was 'some_new_image'. I hope this helps someone out there.

function _initImageA

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @okorshenko on September 7, 2017 20:22_

@jroca22 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @magento-engcom-team on October 12, 2017 8:30_

@jroca22, thank you for your report.
We've created internal ticket(s) MAGETWO-81719 to track progress on the issue.

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @NormAtHuemor on October 16, 2017 13:41_

Hi, @amaddatu . Would you mind going into further detail on how you implemented the override of the import class constructor? I've set up an override in an extension based on your comment above. However, during the compile process I receive the following error:

Errors during compilation:
Vendor\Extension\Model\Import\Product
Missed required argument

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @amaddatu on October 22, 2017 9:27_

@NormAtHuemor
I wouldn't mind at all. Here are my Module Files
In the di.xml I created a class preference for my override
/etc/di.xml

I made sure that the Magento_CatalogImportExport module was loaded _before_ my module would override.
/etc/module.xml

Added my new init function in Product.php and created a new constructor override here. The constructor

[2017-11-06 17:12] piotrekkaminski commented on #42
_From @amaddatu on October 22, 2017 9:46_

Also, I have confirmed that the issue does exist in my Magento version 2.1.8, and that my workaround is for that version, however, it may work in others.

Magento ver. 2.1.8

[2017-11-06 17:12] piotrekkaminski opened #43 "Failure to allocate memory error when importing customers in admin"
_From @kevin-carroll-cl on March 10, 2017 19:51_

When importing customers into a site with a large number of existing customers through the standard Magento importer tool (System > Data Transfer > Import), with Entity Type: Customers Main File, and Import Behavior: Add/Update Complex Data, the import POST returns a 500 status caused by exceeding allowed memory limits.

### Preconditions

1. Magen

[2017-11-06 17:12] piotrekkaminski commented on #43
_From @sopedro on April 8, 2017 17:28_

Hi, same issue here in CE 2.1.5.
I imported a lot of products with no problems and i tried to import customers and i just can import 3 customers at a time.

This is weird, no log results at all, I  don't know how to fix it...

Thanks,

Pedro

[2017-11-06 17:12] piotrekkaminski commented on #43
_From @MattDelac on October 27, 2017 9:18_

Hi @sopedro

Did you find any work around ?

Thanks
Matt

[2017-11-06 17:12] piotrekkaminski commented on #43
_From @MattDelac on October 27, 2017 10:51_

As a similar problem, if I import 100 customers, it works but it fails with more than 150 clients (for a total database of 2K existing clients)

An there is NO information concerning the failure
![selection_473](https://user-images.githubusercontent.com/18557047/32100791-82a35e12-bb15-11e7-8670-3848a7b6bf4f.png)

Does someone have any idea of how can I

[2017-11-06 17:13] piotrekkaminski opened #44 "Importing 'Customers Main File'"
_From @WaPoNe on March 6, 2017 10:36_

Error received trying to import the 'Customers Main File' sample file.

### Preconditions

1. Magento Version 2.1.5 or 2.1.4

### Steps to reproduce

1. Go to 'System' > 'Data Transfer' > 'Import'
2. Select 'Customers Main File' as 'Entity Type'
3. Click on 'Download Sample File' link
4. Select the file downloaded to import

### Expected result

1. Import act

[2017-11-06 17:13] piotrekkaminski commented on #44
_From @Andrii-Deineha on June 30, 2017 8:41_

@WaPoNe Hi, thanks for reporting this issue. Internal ticket was created MAGETWO-70369.

[2017-11-06 17:13] piotrekkaminski commented on #44
_From @magento-engcom-team on October 4, 2017 8:30_

@WaPoNe, thank you for your report.
We've created internal ticket(s) MAGETWO-70369 to track progress on the issue.

[2017-11-06 17:13] piotrekkaminski opened #45 "When updating customers through CustomerImportExport fields thats are not set in importdata will be nullified"
_From @robin31 on February 14, 2017 13:42_

When using module-customer-import-export/Model/Import/Customer.php to update existing customers, attributes that are in customer_entity and are not in the data to update will be nullified. For instance, updating customer name and or group through the importer would empty that customers password / rp_roken etc. This happens because in the _saveCustomerEnt

[2017-11-06 17:13] piotrekkaminski commented on #45
_From @magento-engcom-team on October 9, 2017 11:30_

@robin31, thank you for your report.
We've created internal ticket(s) MAGETWO-81270 to track progress on the issue.

[2017-11-06 17:13] piotrekkaminski opened #46 "Import Product by csv: Integrity constraint violation: 1048 Column 'min_qty' cannot be null"
_From @Henrique-Oliveira on January 25, 2017 17:34_

### Preconditions

Using Magento 2.0.9 and PHP 7

### Steps to reproduce

Using Import from backoffice, try to import a product using the csv original file.

### Expected result

Create the products and relative categories, or give me some kind of error.

### Actual result

1. Give me the error "Maximum error count has been reached or system err

[2017-11-06 17:13] piotrekkaminski commented on #46
_From @vityakopin on June 19, 2017 12:50_

Internal ticket MAGETWO-69965 was created;

[2017-11-06 17:13] piotrekkaminski commented on #46
_From @byronlbailey on July 21, 2017 17:39_

I encountered this problem today.  I checked the code, and the field is currently mapped from the csv field named out_of_stock_qty.  You can update that field to a non-null to get around the problem until the code is fixed.

[2017-11-06 17:13] piotrekkaminski commented on #46
_From @pedrudehuere on August 8, 2017 8:2_

I have the same problem with Magento 2.1.1 and php 7.
I tried to set the field to NULLable but then had the same problem with `use_config_manage_stock` and `use_config_min_qty`, after that I stopped trying to edit the database.

[2017-11-06 17:13] piotrekkaminski commented on #46
_From @magento-engcom-team on October 3, 2017 14:30_

@Henrique-Oliveira, thank you for your report.
We've created internal ticket(s) MAGETWO-69965, MAGETWO-80757 to track progress on the issue.

[2017-11-06 17:13] piotrekkaminski commented on #46
_From @pedrudehuere on October 31, 2017 9:43_

@byronlbailey Could you please point me to the code where the csv-columns -> table-columns mapping happens?

[2017-11-06 17:14] piotrekkaminski opened #47 "Magento_ImportExport: Running multiple product imports after each other can create faulty duplicate sku's"
_From @koenner01 on January 23, 2017 12:57_

When running multiple product imports through the importExport module of Magento, duplicate sku's can be generated during the import process because of the SkuProcessor model being used as a singleton.

### Preconditions
1. MG 2.1.2 or MG 2.1.3
2. PHP7.0

### Steps to reproduce
1. create a Magento\ImportExport\Model\Import model in a loop
2. run multipl

[2017-11-06 17:14] piotrekkaminski opened #48 "Inconsistent CSV file Import error:"
_From @Nym77 on November 20, 2016 18:30_

I am using a standard Luma installation with example and I am trying to add products in magento using an automatic generated csv file.

- If I use the file BB-ProductsWorking.csv I am able to import the products and file is parsed without errors.
![screen shot 2016-11-20 at 19 11 05](https://cloud.githubusercontent.com/assets/9418130/20465071/293a3bba-af55

[2017-11-06 17:14] piotrekkaminski commented on #48
_From @Nym77 on November 21, 2016 8:58_

I did some deeper investigation.
The file looks correct if you split it import less then 25 products at the time. If you try a larger amount you get the following error:
"Curly quotes used instead of straight quotes in row(s):"

[2017-11-06 17:14] piotrekkaminski commented on #48
_From @veloraven on November 23, 2016 13:48_

@Nym77 thank you for your report.
Please identify which version of Magento you are running

[2017-11-06 17:14] piotrekkaminski commented on #48
_From @Nym77 on November 24, 2016 8:45_

@veloraven Magento 2.1.2 CE

I looked more into that and i found that a product what containing in the short description a " . This was a regular " not a curly one. However it was messing with the csv file.

Still the error report in magento was completely misleading as it was pointing to the wrong kind of error and to the wrong row.

Is there any documenta

[2017-11-06 17:14] piotrekkaminski commented on #48
_From @veloraven on November 28, 2016 10:38_

@Nym77 thank you for the update.

[2017-11-06 17:14] piotrekkaminski commented on #48
_From @tobias-forkel on April 11, 2017 3:9_

@Nym77 I had exactly the same problem today. My product CSV file was fine, but for some reason I got the error message `Curly quotes used instead of straight quotes in row(s)`.

After two hours of headache I ended up using Google Spreadsheet.

1. Open Google Spreadsheet
2. File > New > Spreadsheet
3. Upload your xlsx or csv
4. Import your file to the ne

[2017-11-06 17:14] piotrekkaminski commented on #48
_From @IlnitskiyArtem on July 18, 2017 6:24_

Hi, @Nym77. Internal ticket MAGETWO-{70803}, which tracks this GitHub issue, is in our issue backlog.

[2017-11-06 17:14] piotrekkaminski commented on #48
_From @magento-engcom-team on October 5, 2017 9:30_

@Nym77, thank you for your report.
We've created internal ticket(s) MAGETWO-70803 to track progress on the issue.

[2017-11-06 17:14] piotrekkaminski opened #49 "CatalogImportExport doesn't support empty row values"
_From @koenner01 on November 17, 2016 10:45_

If you have an attribute that has a value and you import an empty string because the value needs to be empty, the attribute will not be overwritten with the empty string.

### Preconditions
1. MG2.1.2
2. PHP7.0

### Steps to reproduce
1. Enter a value for an attribute for a product through the backend of Magento
(I'm using description as my example)
2.

[2017-11-06 17:14] piotrekkaminski commented on #49
_From @koenner01 on November 17, 2016 12:11_

Addendum to this;

If chosen to support the constant value, support should also be implemented in \Magento\CatalogImportExport\Model\Import\Product\Validator in the isAttributeValid function.
To allow for every type of attribute to have support for empty values, something like this should be added

[code]

[2017-11-06 17:14] piotrekkaminski commented on #49
_From @slopukhov on November 30, 2016 10:26_

@koenner01 thank you for your feedback.
Internal issue created: MAGETWO-61593

[2017-11-06 17:14] piotrekkaminski commented on #49
_From @koenner01 on June 21, 2017 9:7_

I have found a problem when using the empty logic;

If you try to import an empty value '' for a product's special_price, it will result in special_price 0.

The problem is an insert being doing in \Magento\CatalogImportExport\Model\Import\Product in function _saveProductAttributes:

[code]

If an empty string value is being inserted into the entity_int or e

[2017-11-06 17:14] piotrekkaminski commented on #49
_From @koenner01 on June 21, 2017 10:37_

Another issue in the same clearEmptyData function https://github.com/magento/magento2/issues/10006

[2017-11-06 17:14] piotrekkaminski commented on #49
_From @PieterCappelle on July 5, 2017 18:16_

Any update on this from the Magento team?

[2017-11-06 17:14] piotrekkaminski commented on #49
_From @magento-engcom-team on October 3, 2017 8:30_

@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-61593 to track progress on the issue.

[2017-11-06 17:15] piotrekkaminski opened #50 "Magento 2 Import Does not upload same name file in different image of different folder"
_From @osmansorkar on November 12, 2016 17:2_

I try to import product by magento2 import product option by CSV. I have all product image same name. I create folder for every product image and I upload it media/import directory and try to import my product but magento use only 1st image for all other product. It does not upload my other same name images.

### Preconditions
Magento 2.1.0
PHP-7.0.12

[2017-11-06 17:15] piotrekkaminski commented on #50
_From @veloraven on November 15, 2016 12:46_

@osmansorkar thank you for your feedback.
Please describe more detailed steps in format:

**Steps:**
1.
2.
3.

[2017-11-06 17:15] piotrekkaminski commented on #50
_From @osmansorkar on November 16, 2016 13:11_

Steps:
1. Create A CSV File for import by same name image within multi directory
2. Upload file in pub/media/import directory with directory
3. Login Backend
4. Got to setting >> import
5. Select "Entity Type" Product
6.  Select "Import Behavior" Add/Update
7. Upload CSV File
8. Click Button "Check Data "
9. Click "Import"
10. Import will be successf

[2017-11-06 17:15] piotrekkaminski commented on #50
_From @JstrzAtW2M on February 3, 2017 15:5_

Any way around this or any movement with this bug?

[2017-11-06 17:15] piotrekkaminski commented on #50
_From @franckgarnier21 on March 9, 2017 15:36_

I reproduce the same problem on magento 2.1.x

A workaround is to prefix or suffix image name.

[2017-11-06 17:15] piotrekkaminski commented on #50
_From @magewallet on August 20, 2017 4:17_

Any update on the same. I am able to reproduce the same in Magento 2.1.8 version as well. It little bit strange that this issue was submitted for 2.1.0 and it still coming in 2.1.8.

[2017-11-06 17:15] piotrekkaminski commented on #50
_From @magento-engcom-team on October 11, 2017 9:30_

@osmansorkar, thank you for your report.
We've created internal ticket(s) MAGETWO-81573 to track progress on the issue.

[2017-11-06 17:15] piotrekkaminski opened #51 "Unable to instantiate the catalog import uploader with $filePath set"
_From @brideo on October 13, 2016 0:45_

## Preconditions
- Magento 2.0.x or 2.1.0 is installed CE or EE
- Module is setup with class and `Magento\CatalogImportExport\Model\Import\UploaderFactory` in the construct
## Steps to reproduce
- Using the factory pattern you instantiate the class `Magento\CatalogImportExport\Model\Import\Uploader` with `$filePath` defined
## Actual and Expected result
- E

[2017-11-06 17:15] piotrekkaminski commented on #51
_From @veloraven on October 13, 2016 8:35_

@brideo thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2017-11-06 17:15] piotrekkaminski commented on #51
_From @brideo on October 13, 2016 8:40_

Hey I'm running Magento 2.0.7 EE, I've found a workaround and don't have time to re-format sorry.

[2017-11-06 17:15] piotrekkaminski commented on #51
_From @veloraven on October 17, 2016 13:17_

@brideo please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2017-11-06 17:15] piotrekkaminski commented on #51
_From @brideo on October 17, 2016 21:2_

I have a work around so it won't be necessary, however this is an issue on CE too:

https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Uploader.php#L107

https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Uploader.php#L173

[2017-11-06 17:15] piotrekkaminski commented on #51
_From @brideo on October 17, 2016 21:3_

I will update the ticket now.

[2017-11-06 17:21] piotrekkaminski opened #52 "ImportExport Custom option dropdown with price 0 causing indexer issues"
_From @paales on September 21, 2016 20:26_

### Preconditions

1. 2.1.0
### Steps to reproduce

1. Create an import with a dropdown option that is required.
2. Add an option with the price 0
### Expected result

1. The catalog price shouldn't increase.
### Actual result

1. Catalog price increases, because it selects the lowest price from `catalog_product_option_type_price` but the value isn't ins

[2017-11-06 17:21] piotrekkaminski commented on #52
_From @asemenenko on September 22, 2016 14:54_

Needs to be fixed also in #4808  and #4092 at the same time.

[2017-11-06 17:21] piotrekkaminski commented on #52
_From @IlnitskiyArtem on June 29, 2017 13:24_

@paales, We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue.

[2017-11-06 17:21] piotrekkaminski commented on #52
_From @paales on June 29, 2017 15:6_

@IlnitskiyArtem  Take a look at the code: https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Product/Option.php#L1617

On this line it checks if the value isn't empty, but the string `'0'` IS empty. It should just check if that value exists instead requiring a truthy value.

[2017-11-06 17:21] piotrekkaminski commented on #52
_From @IlnitskiyArtem on June 29, 2017 15:25_

@paales, Thanks for the feedback.
We've created internal ticket MAGETWO-70354 to address this issue.

[2017-11-06 17:21] piotrekkaminski commented on #52
_From @magento-engcom-team on September 25, 2017 22:0_

@paales, thank you for your report.
We've created internal ticket(s) MAGETWO-70354, MAGETWO-73121 to track progress on the issue.

[2017-11-06 17:21] piotrekkaminski opened #53 "ImportExport - Sample Files in own Modules"
_From @EliasKotlyar on September 9, 2016 8:29_

### Preconditions

Happens in all Magento2 Versions.
### Steps to reproduce

Try to provide your own Sample file in
<Your Module>/Files/Sample/<yourentity.csv>
### Expected result

You can add your own sample-file to your module and it will be taken from the ImportExport Wizard in the Backend
### Actual result

The sample file needs to be placed in t

[2017-11-06 17:21] piotrekkaminski commented on #53
_From @BaDos on September 15, 2016 9:9_

Hi @EliasKotlyar

Thank you for reporting.
We've created internal ticket MAGETWO-58483 to resolve this issue.

[2017-11-06 17:21] piotrekkaminski commented on #53
_From @MathieuJJ on July 25, 2017 5:27_

Hi BaDos,
Any news from this issue? I am working on Magento 2 EE 2.14 and my custom sample csv file cannot be downloaded.
Thank you!
Mathieu

[2017-11-06 17:21] piotrekkaminski commented on #53
_From @drdrak3 on August 30, 2017 1:55_

I'm also after this functionality, any news?

[2017-11-06 17:21] piotrekkaminski opened #54 "Magento 2.0.7 Import Products sets default behaviour as append, need add_update"
_From @Taral-Patoliya on August 17, 2016 7:29_

I am importing the products using array instead of csv, And using [FireGento_FastSimpleImport2](https://github.com/firegento/FireGento_FastSimpleImport2) Module to pass the product array to the import model. I have set the behavior of import to be  'add_append', but [getBehavior() method](https://github.com/magento/magento2/blob/develop/app/code/Mage

[2017-11-06 17:21] piotrekkaminski commented on #54
_From @shiftedreality on September 9, 2016 7:9_

Hi @Taral-Patoliya

Looks like an error to me.
Created internal ticket MAGETWO-58210 to investigate and fix.
Thank you for reporting.

[2017-11-06 17:21] piotrekkaminski commented on #54
_From @diglin on September 19, 2017 12:36_

Also into **Magento 2.1.7** and **Magento 2.2**

Looks like an issue into the method `\Magento\ImportExport\Model\Import\Entity\AbstractEntity::getBehavior` which doesn't allow other behavior as append, replace and delete. Using custom or add_update is not allowed and fallback to append which is the default behavior

Need a PR ?

Patch in attachment

[pa

[2017-11-06 17:21] piotrekkaminski commented on #54
_From @diglin on September 19, 2017 13:34_

Why **G1 Failed** label ?

-> found myself the answer => https://github.com/magento/magento2/wiki/Magento-Issue-Gates

[2017-11-06 17:21] piotrekkaminski commented on #54
_From @magento-engcom-team on September 22, 2017 9:6_

Hi @diglin
PR would be always helpful. If you wish to work on that please provide clear testing scenarios and link to this issue.

Thank you for collaboration

[2017-11-06 17:21] piotrekkaminski opened #55 "ImportExport: Indexers should be locked when importing"
_From @paales on August 5, 2016 9:20_

### Preconditions

1. Magento 2.1
2.
### Steps to reproduce

1. Run an import
2. Run an import again while the cron indexers have just triggered.
### Expected result

1. Indexers should be halted / killed and the importer should run
2. After the importer has ran the importer should resume.
### Actual result

1. Deadlocks occur because the indexer is trying to

[2017-11-06 17:21] piotrekkaminski commented on #55
_From @southerncomputer on August 5, 2016 21:16_

Here here - when importing say 100k - to 1 MIL products- cron reindexing can cause database failure of import due to DEADLOCKS - which seem to not bother the indexer. It would be nice to be able to disable indexers via CLI or during product import routines!

Now my both my importer and indexer runs via cron - so we need a lockout routine to detect

[2017-11-06 17:21] piotrekkaminski commented on #55
_From @slopukhov on August 22, 2016 15:16_

Hi @paales

Thank you for reporting the issue. It is reported as `MAGETWO-57344` internally.

[2017-11-06 17:21] piotrekkaminski commented on #55
_From @hostep on January 31, 2017 9:51_

Any chance this is already in the pipeline of being fixed in the near future? We also run into this.

Thanks!

[2017-11-06 17:21] piotrekkaminski commented on #55
_From @kandy on February 1, 2017 16:0_

@hostep, yes, we plan improvements in indexers, but looks like it will be available only in next major release

[2017-11-06 17:21] piotrekkaminski commented on #55
_From @koenner01 on February 2, 2017 10:36_

Currently we are bypassing this problem by using a lock file during our import and using a plugin on the tryLockJob function on the Cron\Schedule

[code]

[2017-11-06 17:26] piotrekkaminski opened #56 "Product attribute accepted via admin interface but cannot relate via import csv"
_From @LiamFielding on July 18, 2016 13:25_

Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a dropdown attribute with values: '5µ, 10µ, 15µ...'
3. Attempt to add those accepted attribute values with attribute to a product via csv.

Expected result
1. Product given attribute and attribute value correctly recognised as it is accepted in interface.

Actual result
1. Value not

[2017-11-06 17:26] piotrekkaminski commented on #56
_From @LiamFielding on August 8, 2016 13:30_

It is a problem with the micron/other symbols. They have to match but the importer parses the value so it no longer matches the attribute label.

[2017-11-06 17:26] piotrekkaminski commented on #56
_From @veloraven on August 9, 2016 8:26_

@LiamFielding I used exactly the same symbol you provided. And I had no problems during import.
Could you please update your develop branch and confirm that the issue is still there?
And if it is, I still need more detailed steps including information, how did you create a file for import?
Maybe list of some other symbols you have problems with.
Please als

[2017-11-06 17:26] piotrekkaminski commented on #56
_From @LiamFielding on August 9, 2016 8:29_

Your attribute say "Measurement X" has a value in the attribute dropdown (admin) of 5µ what value did you use in your spreadsheet to give the product this attribute value option?

[2017-11-06 17:26] piotrekkaminski commented on #56
_From @magento-engcom-team on October 17, 2017 13:30_

@LiamFielding, thank you for your report.
We've created internal ticket(s) MAGETWO-82088 to track progress on the issue.

[2017-11-06 17:26] piotrekkaminski opened #57 "Images imported via URL have crazy file paths"
_From @hgpit on June 28, 2016 9:22_

## Steps to reproduce
1. Install Magento v2.1 EE.
2. Import product CSV using URLs for images (i.e.: **base_image**: "http://datastore.mydomain.local/imageserver/40354768_big.jpg").
## Expected result
1. File is stored in Magento file system as **[magento]/pub/media/catalog/product/4/0/40354768_big.jpg**.
## Actual result
1. File is stored in Magento file syste

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @hgpit on July 6, 2016 9:35_

Are we really the only users who find this approach for file-naming a bit... ridiculous? Surely it's not the intended functionality?

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @Ctucker9233 on July 6, 2016 19:26_

@hgpit You're not the only one. It seems excessive. But it might be because you can run multiple stores/websites on the same magento setup. If you have any product crossover, there may need to be a way for magento to create a unique file name.

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @hgpit on July 6, 2016 19:48_

@Ctucker9233 I'm not really sure what you mean, sorry. We do actually run multiple websites and stores. But as every product image is imported via a URL, they're all still filed under **[magento]/pub/media/catalog/product/h/t/** regardless of the site/store because of their source path/URL.

We've just invested in Unirgy's uRapidFlow product importer for EE v2.

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @Ctucker9233 on July 7, 2016 21:31_

@hgpit Ok, I understand now. What I meant is that might be part of Magento's Core structure to create a unique filename for each instance of an image. So if you have the same image on two sites, Magento can tell the difference between the two instances of that image. I'm just speculating this might be the case for the weird file naming.

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @andimov on July 29, 2016 11:30_

@hgpit
Thank you for reporting!
datastore.mydomain.local is a weird domain for importing. Try to use local paths.

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @hgpit on July 29, 2016 12:9_

@andimov
"Try to use local paths.". What kind of answer/suggestion is that? Magento 2 provides the facility to import from URLs but because I'm reporting an issue with it, you're suggesting not to use the feature?

Also, how is "datastore.mydomain.local" a weird domain for importing? Aside from the fact I have blatantly replaced the domain name with a generic o

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @andimov on August 16, 2016 11:59_

@hgpit
Try to use one of [iana list of tlds](http://data.iana.org/TLD/tlds-alpha-by-domain.txt) for importing from URLs.
Please, let me know when your issue will be solved.

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @hgpit on August 16, 2016 13:27_

@andimov
I can't (and would not) change my entire enterprise's internal domain naming conventions for Magento.

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @shiftedreality on September 9, 2016 9:36_

Hi @hgpit

Thank you for reporting.
We've created internal ticket MAGETWO-58217 to resolve this issue

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @magicsss on April 22, 2017 19:11_

Hi there.
Does anybody find solution for this issue?

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @phrench on June 6, 2017 18:43_

We ran into the same issue. The Magento import should definitely not include the path of the external URL in the filename. Bad for SEO beside other reasons.

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @joachimVT on October 11, 2017 9:19_

I can confirm this, having the same issue in version 2.1.8

`pub/media/catalog/product/cache/image/e9c3970ab036de70892d86c6d221abfe/h/t/httpwww.vinesse.bemediacatalogproductpapapeclement2012.png`

[2017-11-06 17:26] piotrekkaminski commented on #57
_From @magento-engcom-team on October 19, 2017 10:30_

@hgpit, thank you for your report.
We've created internal ticket(s) MAGETWO-58217 to track progress on the issue.

[2017-11-06 17:27] piotrekkaminski opened #58 "Incorrect Request URL with Form Key on the product import."
_From @Radio on June 22, 2016 8:57_

## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to Admin Panel
3. Go to System -> Import.
4. Select "Products" in Entity Type field.
5. Set: Import Behavior: "Add/Update", select valid file to import.
6. Click "Check Data", wait for validation to complete.
7. Click "Import".
## Expected result
1. The request is sent to http://obo-demo.test

[2017-11-06 17:27] piotrekkaminski commented on #58
_From @shiftedreality on September 9, 2016 14:45_

Hi @Radio

Thank you for your submission.
We've created internal ticket MAGETWO-58250 to fix this issue.

[2017-11-06 17:27] piotrekkaminski commented on #58
_From @magento-engcom-team on October 13, 2017 8:3_

@Radio, thank you for your report.
We've created internal ticket(s) MAGETWO-58250 to track progress on the issue.

[2017-11-06 17:27] piotrekkaminski opened #59 "Exporting and reimporting products out of the box creates massive CSV bugs"
_From @grasdaggel on March 29, 2016 14:15_

Hi there,

we tried to export products from one store to another. This caused errors on ALL rows in the respective CSV.

We are using Magento 2.0.2

[code]

We did not modify the file nor did we have opened it. This problem should be reproduceable by exporting products without any further configuration and reimporting the very same file into another diff

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @grasdaggel on March 29, 2016 14:29_

Problem already tracked down a little. Export throws in HTML content and uses linebreaks (probably \r\n) in the CSV which might create those bugs.

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @grasdaggel on March 29, 2016 14:35_

It seems that this isnt't the problem, since HTML is correctly encapsulated in "'s. I've found out that class="NNN" references are in the CSV with class=""NNN"" (double "). This might be a problem. Replacing all the "" with \" or ' does not solve the problem, however.

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @grasdaggel on March 29, 2016 14:44_

Heres the CSV: http://www33.zippyshare.com/v/ENnw16d2/file.html

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @gagaxj on April 10, 2016 14:24_

I have similar problem to import only two products on a freshly installed magento 2.0.4
1. Value for 'visibility' attribute contains incorrect value, see acceptable values on settings specified for Admin in rows: 1, 2

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @grasdaggel on April 11, 2016 11:5_

Any updates on this? Its been a while..

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @Thommas on June 16, 2016 3:4_

Just a guess, have a look at this:

[code]

Well I just tried with 1/2/3/4, not working.

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @Thommas on June 22, 2016 8:58_

OK, so I just figured out you need to translate the labels in your import file.

I'm using spanish, so with 'No es visible individualmente' instead of 'Not Visible Individually', the validation works fine.

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @veloraven on August 18, 2016 13:31_

@grasdaggel thank you for your report.
Do you use any localization in your stores?

[2017-11-06 17:27] piotrekkaminski commented on #59
_From @Laura021 on August 25, 2016 22:14_

I do not have labels in other languages and still having a bunch of errors with the exported file.

Must of them have the message :

[2017-11-06 17:28] #59 closed

[2017-11-06 17:28] piotrekkaminski commented on #59
failed import

[2017-11-06 17:29] piotrekkaminski opened #60 "No ajax interruption for large import."
_From @armababy on September 6, 2015 2:1_

Hello,

When importing file too large set by server (in this case nginx) and/or php, ajax responds with 413 (Request Entity Too Large) which is correct
But "Please wait" animation/spinner never goes away and problem is not reflected to the user screen.

Just a minor bummer, but still :)

_Copied from original issue: magento/magento2#1804_

[2017-11-06 17:29] piotrekkaminski opened #61 "Exporting and reimporting products out of the box creates massive CSV bugs"
_From @grasdaggel on March 29, 2016 14:15_

Hi there,

we tried to export products from one store to another. This caused errors on ALL rows in the respective CSV.

We are using Magento 2.0.2

[code]

We did not modify the file nor did we have opened it. This problem should be reproduceable by exporting products without any further configuration and reimporting the very same file into another diff

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @grasdaggel on March 29, 2016 14:29_

Problem already tracked down a little. Export throws in HTML content and uses linebreaks (probably \r\n) in the CSV which might create those bugs.

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @Laura021 on August 25, 2016 22:14_

I do not have labels in other languages and still having a bunch of errors with the exported file.

Must of them have the message :

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @grasdaggel on August 26, 2016 8:56_

Yes, we do use the Splendid Internet de_DE CSV with round about 10k Lines of translations.

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @Laura021 on August 26, 2016 21:34_

@grasdaggel Are you using a different attribute_set than Default?

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @grasdaggel on August 29, 2016 8:39_

No.

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @veloraven on October 21, 2016 13:53_

I was able to reproduce this issue: in case when admin who import products uses different locale than the one who made export.
Internal ticket: MAGETWO-59946

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @PieterCappelle on December 19, 2016 18:56_

Any update on this?

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @grasdaggel on December 21, 2016 10:53_

This is STILL buggy. The Importer says that there are defect rows, however, the import is still successful.

This needs to be addressed, as the import function is necessary for customers with higher stocks and invetories.

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @chickenland on April 12, 2017 10:51_

I'm using 2.1.4 and this is still an issue.

It's not ideal, but I've found adding logging to the validateOptions() function in \Magento\CatalogImportExport\Model\Import\Product tells me what the acceptable values are (despite exporting/reimporting the exact same CSV).

For instance, visibility set to "Catalog,Search" in the export, won't import, but va

[2017-11-06 17:29] piotrekkaminski commented on #61
_From @magento-engcom-team on October 17, 2017 12:44_

@grasdaggel, thank you for your report.
We've created internal ticket(s) MAGETWO-59946 to track progress on the issue.

[2017-11-06 18:32] piotrekkaminski opened #62 "[MAGETWO-34709] Export Customers Main File: invalid fields are available in export filter"
### Steps to reproduce:

1. Go to System -> Export in Admin panel
2. Select f.e. Customer Main File entity type
3. Select f.e. Female gender in Filter column
4. Try to drop (remove) this filter to export both genders (without page reload)

### Actual results:
No ability to drop this filter

### Expected results:
Empty option should be present in filter to disable it

[2017-11-10 12:22] SitionDenBosch commented on #36
Hello,

Can someone give me insight into the fix once this issue has been solved? We need to solve this without updating Magento to the most recent version.

[2017-11-18 13:52] piotrekkaminski opened #64 "[MAGETWO-39185] Export UI is absent after reselecting entity type"
### Preconditions
None

### Steps to reproduce
1. Go to System -> Export in Admin Pane
2. Select for example Products entity type
3. Select "\- Please Select \-" option of Entity Type dropdown
4. Repeat step 2

### Expected result
Export UI for Products should be shown

### Actual result
Export UI not visible

[2017-11-18 14:12] piotrekkaminski opened #65 "[MAGETWO-43470] ImportExport Option with coma rise PHP Notice"
Error when import product with option label which contains symbols "," (coma) maybe doesn't work with others separator symbols  (|,=)

### Preconditions

None

### Steps to reproduce

1. Create product with option name "green,white"
2. Export products
3. Import back this CSV

### Expected result

1. Import succeeds. Option with name "green,white" present.

### Actual result

1. Error message
![imp

[2017-11-18 15:26] piotrekkaminski opened #66 "[MAGETWO-45056] Scheduled Import: error log file has incorrect location and content on server"
### Preconditions

1. Put import file with some error (to provoke import error) in the directory for scheduled import.

### Steps to reproduce

1. Create Schedules Import for Entity type = Products: MAGETWO-15533
2. In Scheduled Import Grid select Action = "Run" for the import
3. After you got an error "We can't run the operation right now, see error log for details.", go to magento_root/var/log/i

[2017-11-22 14:25] dmanners commented on #49
PR Related to this issue can be found at https://github.com/magento/magento2/pull/11935

[2017-11-30 19:02] windowbox commented on #34
When can we expect this to be assigned? A huge migration project we are in the middle of is at a stop because of this. The association functionality is broken on CE, EE. We've tested on multiple hosting environments on fresh installs of 2.2.1 with no luck.

[2017-11-30 19:38] piotrekkaminski opened #68 "[MAGETWO-45078] Scheduled Import: email "Scheduled Import Failed" has HTML tags displayed"
### Preconditions

1. Place import file with some error (to provoke import error) in the directory for scheduled import.

### Steps to reproduce

1. Create Schedules Import for Entity type = Products
2. In Scheduled Import Grid select Action = "Run" for the import
3. After you got an error "We can't run the operation right now, see error log for details.", wait for email. Open email received

###

[2017-11-30 20:56] piotrekkaminski opened #69 "[MAGETWO-45528] Scheduled Imports/Exports report has wrong date columns"
### Preconditions

1. Default config locale America/Chicago
2. PHP Server locale Europe/Kiev

### Steps to reproduce

1. Go to System->Scheduled Import/Export
2. Click Add Scheduled Export
3. Fill required data
File Directory: var/myexport
4. Save it
5. In Scheduled grid Imports/Export in action column click run
6. Open folder var/myexport

### Expected result

1. filename contains date of default

[2017-11-30 23:05] piotrekkaminski opened #70 "[MAGETWO-49741] AdvancedPricing import improvement"
### Preconditions

1. 50k products in catalog

### Steps to reproduce

1. Try to import tier prices for just 10 product

### Expected result

1. Import finishes quickly (seconds)

### Actual result

1. Takes up to 10 minutes to import

[2017-12-01 14:59] dmanners commented on #55
I would like to check about this one as this may be already covered with the indexer improvements.

[2017-12-01 15:15] dmanners commented on #22
@PieterCappelle is this the same issue as https://github.com/magento-engcom/import-export-improvements/issues/50

[2017-12-01 15:19] dmanners commented on #44
Looks like this could be the same issue as https://github.com/magento-engcom/import-export-improvements/issues/53 we should double check and then close one so we are not duplicating issues.

[2017-12-01 15:35] dmanners commented on #34
Hi @windowbox we are currently in the process of putting together the prioritization for the import/export improvements. For me this feels like a high priority issue so we will aim to prioritize this problem.

The current plan for this project is to work towards the 2.3 release but of course we will also consider adding bug fixes to the 2.1 and 2.2 releases when appropriate. This could be one of t

[2017-12-01 15:37] dmanners commented on #14
I am marking this issue as a "nice to have" I do feel that it would be a benefit to import export to have this feature but I think that there are currently other issues with a higher priority.

[2017-12-01 15:39] dmanners commented on #15
@ajpevers I like this idea it would be nice to have a bit more understanding in to how you feel this feature could look/work.

Could you maybe expand a bit more on you idea?

[2017-12-01 16:34] adamlavery commented on #34
When do you think it might be released? Are we talking weeks or months? We'll need this working Jan 2018 so if there's no likelihood of a fix by then could you let us know as I'll look to do a temporary local fix in that case.

[2017-12-01 16:40] dmanners commented on #34
@adamlavery The aim of the import/export project is to provide a release during 2.3 which is aimed for Q2 2018. Of course if the fix is backwards compatible we can always port it to 2.1 and 2.2.

[2017-12-01 16:47] windowbox commented on #34
@adamlavery I also have put in a ticket for our EE sites and it should be designated as Priority 1 fix, the terms of which state 'Magento will use continuous efforts 24x7x365, with appropriate escalation to senior management, to provide a resolution for any P1 problem as soon as is commercially reasonable'.

Hopefully the EE fix will shed light to fix on CW. The rep did suggest it would be after t

[2017-12-01 16:53] dmanners commented on #38
This is a duplicate of https://github.com/magento-engcom/import-export-improvements/issues/49

[2017-12-01 16:53] #38 closed

[2017-12-01 16:59] dmanners commented on #5
Duplicate of https://github.com/magento-engcom/import-export-improvements/issues/61

[2017-12-01 16:59] #5 closed

[2017-12-01 18:17] piotrekkaminski opened #71 "[MAGETWO-49985] Custom Options are exported in reverse order in CSV file"
### Preconditions

1. Create a simple product with two options, the 1st option is a dropdown and the 2nd option is a field, Save it

### Steps to reproduce

1. System -> Export
2. System -> Import same file

### Expected result

1. In CSV file, the 1st option is now a dropdown and the 2nd option is a field
2. After import, in UI, the 1st option is still a dropdown and the 2nd option is a field

##

[2017-12-01 18:31] piotrekkaminski opened #72 "[MAGETWO-53180] It's impossible to disable ScheduledImportExport module due to dependency"
### Preconditions

1. Prior to installation, remove ScheduledImportExport module

### Steps to reproduce

1. Launch setup wizard

### Expected result

1. No module functionality is present in Stores > Config > ADVANCED > System: Scheduled Import/Export File History Cleaning
2. No System > Scheduled menu item

### Actual result

1. There is no possibility to install Magento2 EE without this module:

[2017-12-03 07:24] dromoded commented on #57
If it's not too late to ask, how can I import external images with URLs that don't end with ".jpg"? E.g.:
`http://asset.lemansnet.com/media/edge/8/4/0/840EC331-41BE-4AFF-9392-4A35F2C486A9.png?x=260&y=260&b=ffffff&t=image/jpeg`
(It's a real image, and it is indeed a jpeg, parameters "x" and "y" control image size, "b" - background color)

Magento 2.2.1 (CE) Admin/Import confirms validity of the fil

[2017-12-14 12:03] dmanners commented on #22
Will close this as it is duplicated by https://github.com/magento-engcom/import-export-improvements/issues/50

[2017-12-14 12:03] #22 closed

[2017-12-20 10:17] dmanners commented on #72
The fix itself may not be perfect for a first time issue but the process of finding out why this dependency is in place would be perfect for someone taking on their first issue.

[2017-12-20 10:20] dmanners commented on #57
Hi @dromoded I am not sure how this task can work at the moment but we will try to cover this use case when working on this issue.

[2017-12-20 12:45] TomashKhamlai commented on #58
Reproduced on 2.3-develop from http://github.com/magento/magento2.git

[code]

[2017-12-20 12:47] TomashKhamlai commented on #58
@dmanners do I have to do something more with this issue? I tested in Burp Suite.

[2017-12-20 12:48] dmanners commented on #58
@TomashKhamlai nope just let me know it is reproduced an remove the label `needs reevaluation` if you can reproduce the issue.

[2017-12-20 15:46] TomashKhamlai commented on #48
I got a little bit different situation. It is reproducible but I found the problems inside the CSV file.

If I am using the file BB-Products.csv I obtain the following error:
![case2](https://user-images.githubusercontent.com/11827230/34213933-728669d4-e5a9-11e7-8afc-83b2a1545c05.png)

If I am using the file BB-ProductsRemovedRow.csv I obtain the following error:
![case3](https://user-images.githu

[2017-12-20 15:50] TomashKhamlai commented on #48
@dmanners I checked this and think that Import works good, however, some things can be improved.

[2017-12-20 15:51] dmanners commented on #48
@TomashKhamlai thanks, could you also make a note of any suggested improvement idea you have. That would really help us out.

[2017-12-20 16:07] TomashKhamlai commented on #48
@dmanners, if the error occurs Magento can check if there is a way to parse it in some other way then modify to supported standard and try again. According to comments the source of the error is the way of saving files that were made by TextEdit. It is also known that MS Excel also has problems with CSV. According to the same comments, we can see that Google Sheets it is a good instrument, probabl

[2017-12-20 17:01] TomashKhamlai commented on #56
@dmanners, I cannot reproduce this on public 2.3-develop.
### Preconditions:

1. Magento with Sample Data was installed using Vagrant
2. Attribute was created and added to the Default attribute set
3. 4 products with 3 different values tor the created attribute were created and assigned to the same category.
4. Products that were in the category with id=41 were exported

### Steps to reproduce:

1

[2017-12-21 12:09] federivo commented on #37
Hi @piotrekkaminski and @dmanners

I tested this issue in current 2.3-develop.

After the 2nd reproduce step I don't get an error. Instead I get a message saying that Magento appended a "-1" at the end of the sku.

<img width="599" alt="screen shot 2017-12-21 at 8 59 32 am" src="https://user-images.githubusercontent.com/346356/34254985-4d1e8df0-e62d-11e7-8803-c607142830b8.png">

The same happens a

[2017-12-21 12:49] dmanners commented on #37
@federivo thank you for looking into this.

My gut feeling would be that the admin and import should behave in the same way so that it does not cause confusion for the user. This being said I am open to discussion from @piotrekkaminski and @PieterCappelle on this matter and would be interested to see what the others would think.

[2017-12-24 12:35] PieterCappelle commented on #57
Hi, i fixed this issue. > https://github.com/magento/magento2/pull/12872

[2017-12-26 11:33] TomashKhamlai commented on #36
@dmanners  I was able to reproduce this on 2.3.0-dev

[2017-12-26 12:01] TomashKhamlai commented on #35
@dmanners, steps are unclear, the CSV is empty (only head of the table):

Country | Region/State | Zip/Postal Code | # of Items (and above) | Shipping Price
-- | -- | -- | -- | --

[2017-12-26 13:22] TomashKhamlai commented on #46
@dmanners, the ticket MAGETWO-69965 was created only for 2.1.x release line. It is not reproducible on 2.3.0

[2017-12-26 13:41] TomashKhamlai commented on #35
Cannot reproduce. The file attached here is valid. The file on JIRA is invalid and that is the reason for the error.

How to avoid an error:
1) Use [Import Table Rate step-by-step guide](http://docs.magento.com/m2/ce/user_guide/shipping/shipping-table-rate.html)
2) Use LibreOffice Calc to avoid thins like:
[code]

[2017-12-26 14:22] TomashKhamlai commented on #44
@dmanners, reproduced

[2017-12-26 14:25] TomashKhamlai commented on #53
@dmanners, it's too difficult for me or maybe I misunderstood something.

[2017-12-27 09:07] TomashKhamlai commented on #55
@dmanners, I cannot export 120 000 products.
Error - 500

Apache:
[code]
PHP:
[code]
After changing the memory_limit value to -1 the error remains the same.
Ubuntu Desktop, 8Gb RAM, 2 Cores, multithreading(4 threads), 3.3GHz, Apache 2.4, PHP v7.0.26-2+ubuntu16.04.1+deb.sury.org+2

[2018-01-02 14:39] VasylShvorak commented on #25
@dmanners , I was able to reproduce this issue on ver. 2.3.0-dev.

[2018-01-02 15:01] dmanners commented on #56
Thank you @TomashKhamlai for the information. I will close this now as it is not reproducible on latest version

[2018-01-02 15:01] #56 closed

[2018-01-02 15:02] dmanners commented on #46
Thank you @TomashKhamlai I will close this as we are focusing on 2.3 in this project.

[2018-01-02 15:02] #46 closed

[2018-01-03 13:58] dmanners commented on #34
This is currently being fixed in the PR https://github.com/magento/magento2/pull/12853

[2018-01-03 14:46] dmanners commented on #37
After the great investigation @federivo would you consider taking this on as your first task in this project? Of course with my help when you need it.

[2018-01-03 14:56] federivo commented on #37
@dmanners sure!

[2018-01-03 15:06] PieterCappelle commented on #37
In my opinion the SKU should never be changed automatic. 99% of all imports are connected with SAP or ERP. When you edit SKU you lose the connection with SAP or ERP. A space is also a character. It's bad, yes. I hate it. But it's a character. Just like SKU "ABCDEF" is possible should
" ABCDEF" be possible. It can be a different product.

The behaviour inside admin is also wrong in my opinion. When

[2018-01-03 15:07] pointia commented on #37
Hi there,
for my personal point of view it is not a good idea to "just" append a -1 or -2 if a product is created (not in admin and not created by the import).

I would recommend to throw an exception and display to the user that a SKU with the same name already exists.
Otherwise it might happen that you run an import periodically and always get new products instead of updating the existing one.

[2018-01-03 15:09] dmanners commented on #37
@PieterCappelle and @pointia thank you for the feedback on this issue.

[2018-01-03 15:38] dmanners commented on #34
@mzeis I have added you here as you are planning on reviewing this pull request. Once it has been sorted out and ready to merge could you please also update this ticket?

Thank you

[2018-01-03 15:54] piotrekkaminski opened #74 "Tablerate import fails when upload_tmp_dir is not related to sys_temp_dir"
_From @jean-bernard-valentaten on December 28, 2017 10:34_

Importing tablerates via backend fails with an error message like 'The file "/tmp/var/www/dist/var/upload/phpi1qs6p" doesn't exist' when PHP setting `upload_tmp_dir` is set to anything that does not relate to setting `sys_temp_dir`.
This is due to the first line of the private method `\Magento\OfflineShipping\Model\ResourceModel\Carrier\T

[2018-01-03 15:54] piotrekkaminski commented on #74
_From @dmanners on January 3, 2018 8:54_

This has been fixed in 2.3-develop with the pull request https://github.com/magento/magento2/pull/12376

[2018-01-03 15:54] piotrekkaminski opened #75 "Magento 2.2.2-dev - CSV Import, skip errors not working"
_From @JustBeYou on December 19, 2017 14:36_

### Preconditions

1. Magento version is 2.2.2 as specified in the title and I think is the only relevant info about the environment
2. PHP 7.0.25
3. MySQL Ver 15.1 Distrib 10.1.29-MariaDB
4. Cent OS 7 (Linux 3.10.0-693.11.1.el7.x86_64 # 1 SMP Mon Dec 4 23:52:40 UTC 2017 x86_64 GNU/Linux)

### Steps to reproduce

1. Go to System > Data Transfer > Impor

[2018-01-03 15:54] piotrekkaminski commented on #75
_From @PieterCappelle on December 21, 2017 21:43_

Issue is not fixed in 2.2-develop and 2.3-develop. So yes, its an issue. Will you fix this with PR?

[2018-01-03 15:54] piotrekkaminski commented on #75
_From @JustBeYou on December 22, 2017 13:53_

OK then. I am going to make a fork and try to get a fix. I will create a pull request when I'm done.

[2018-01-03 15:54] piotrekkaminski commented on #75
_From @PieterCappelle on December 22, 2017 14:46_

Let me know if I can help you @JustBeYou :)

[2018-01-03 15:54] piotrekkaminski commented on #75
_From @magento-engcom-team on December 22, 2017 15:30_

@JustBeYou, thank you for your report.
We've created internal ticket(s) MAGETWO-85966 to track progress on the issue.

[2018-01-03 15:54] piotrekkaminski commented on #75
_From @JustBeYou on December 23, 2017 15:26_

Fixed in #12867. I am waiting for a review.

[2018-01-03 15:54] piotrekkaminski commented on #75
_From @PieterCappelle on December 23, 2017 18:54_

Nice @JustBeYou! If accepted please create backport to 2.2 too :-) #thanks!

[2018-01-03 15:54] piotrekkaminski commented on #75
_From @JustBeYou on December 23, 2017 20:51_

@PieterCappelle I developed the bug-fix on 2.2. Should I create a pull request for 2.1 and 2.3 too?

[2018-01-03 15:54] piotrekkaminski commented on #75
_From @PieterCappelle on December 24, 2017 8:48_

Sorry. Yes, if accepted, please create backport for 2.1 & 2.3. Currently we are setting up a team from developers to fix issues and refactor the current import of Magento2. You can always join our channel on slack #import-export. We also have custom repository > https://github.com/magento-engcom/import-export-improvements/projects

Have a nice day

[2018-01-03 15:54] piotrekkaminski opened #76 "2.2 Importing Group Products No Longer Works"
_From @mzenner1 on December 18, 2017 17:16_

As of 2.2, group products no longer import properly.  Using the sample data given on the system->import page, it will import the group product (the product type is correct), but no longer associate the simple products to the grouped product.  This was confirmed working in 2.1.7, but looks to be broken in 2.2.1 and 2.2.2.

_Copied from original issue: ma

[2018-01-03 15:54] piotrekkaminski commented on #76
_From @magento-engcom-team on December 21, 2017 6:37_

@mzenner1, thank you for your report.
We've created internal ticket(s) MAGETWO-85900 to track progress on the issue.

[2018-01-03 15:54] piotrekkaminski commented on #76
_From @PieterCappelle on December 21, 2017 21:16_

Hi @mzenner1 , I've created PR to fix this issue. Currently only for 2.3-develop branch. If accepted I'll create backport to 2.2-develop branch.

Issue has been created because of new functionality in 2.2 & 2.3 for duplicate SKU's. Every SKU is lowercased. In this function it was forgotten to change SKU to lowercase.

@dmanners Could you add impor

[2018-01-03 15:54] piotrekkaminski commented on #76
_From @sasilinux on December 22, 2017 4:13_

@mzenner1 - Have you ever got a chance to solve this issue. If you found any solution, please let me know. Thanks

[2018-01-03 15:54] piotrekkaminski commented on #76
_From @PieterCappelle on December 22, 2017 6:50_

@sasilinux I fixed in that PR. Just need to fix unit test but is easy. Will fix it.

[2018-01-03 15:54] piotrekkaminski commented on #76
_From @mzeis on December 27, 2017 12:58_

@PieterCappelle @dmanners FYI I added the Import/Export label.

[2018-01-03 15:55] piotrekkaminski opened #77 "Unable to import external jpeg images from a CDN with dynamic URLs."
_From @dromoded on December 4, 2017 6:27_

Unable to import products with external jpeg images hosted on a CDN with dynamic URLs not ending with ".jpg" or ".jpeg", e.g.
`http://asset.lemansnet.com/media/edge/8/4/0/840EC331-41BE-4AFF-9392-4A35F2C486A9.png?x=260&y=260&b=ffffff&t=image/jpeg`
(This is a real image, and it is indeed a jpeg. Parameters "x" and "y" control image size, "b" - background co

[2018-01-03 15:55] piotrekkaminski commented on #77
_From @magento-engcom-team on December 4, 2017 12:39_

@dromoded, thank you for your report.
We've created internal ticket(s) MAGETWO-84958 to track progress on the issue.

[2018-01-03 15:55] piotrekkaminski commented on #77
_From @EliasZ on December 6, 2017 8:56_

This is related to: #12455

Not exactly the same, but similar problem case. In this case GET params are present in the URL and due to regex stripping characters, the GET params are appended to the file extension resulting in breaking the validation rules.

[2018-01-03 15:55] piotrekkaminski commented on #77
_From @PieterCappelle on December 22, 2017 19:24_

@okorshenko Can you assign this to me?

[2018-01-03 15:55] piotrekkaminski commented on #77
_From @PieterCappelle on December 24, 2017 12:33_

Should be fixed. If accepted I'll create backport to 2.2 & 2.1.

[2018-01-03 15:55] piotrekkaminski commented on #77
_From @magento-team on January 3, 2018 11:45_

Hi @dromoded. Thank you for your report.
The issue has been fixed in magento/magento2#12872 by @PieterCappelle in 2.3-develop branch
Related commit(s):
 - 8cdf04390e43184aef85a26855c40a9c0a33309e
 - 53292d37074044e644eacdef9adfa79df5199662

The fix will be available with the upcoming patch release.

[2018-01-03 15:55] piotrekkaminski opened #78 "Import uploader does not check Content-Disposition header"
_From @EliasZ on November 27, 2017 15:22_

### Preconditions
Magento 2.2.1 (probably previous versions too, cannot imagine this functionality being removed on purpose)

### Steps to reproduce
1. Create a product import CSV with an image URL (which does not have a proper image extension) leading to an image being force downloaded by [HTTP headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/H

[2018-01-03 15:55] piotrekkaminski commented on #78
_From @magento-engcom-team on November 28, 2017 14:30_

@EliasZ, thank you for your report.
We've created internal ticket(s) MAGETWO-84645 to track progress on the issue.

[2018-01-03 15:55] piotrekkaminski commented on #78
_From @PieterCappelle on December 24, 2017 12:33_

Should be fixed. If accepted I'll create backport to 2.2 & 2.1.

[2018-01-03 15:55] piotrekkaminski commented on #78
_From @magento-team on January 3, 2018 11:45_

Hi @EliasZ. Thank you for your report.
The issue has been fixed in magento/magento2#12872 by @PieterCappelle in 2.3-develop branch
Related commit(s):
 - 8cdf04390e43184aef85a26855c40a9c0a33309e
 - 53292d37074044e644eacdef9adfa79df5199662

The fix will be available with the upcoming patch release.

[2018-01-03 15:55] piotrekkaminski commented on #78
_From @EliasZ on January 3, 2018 14:1_

@PieterCappelle Did you verify this works with URLs sending a header detailing the filename? `parse_url` doesn't seem to check that.

[2018-01-03 15:55] piotrekkaminski opened #79 "hide_from_product_page import not working Magento 2.1.8"
_From @Softagz on November 24, 2017 9:35_

### Preconditions

1. Using the sample download "Products" Import and Uploaded the images (BASE, THUMB and SMALL)
2. Using the same import CSV for the field column in csv "hide_from_product_page" not to show the small,thumb (which are same values) to be displayed on PRODUCT PAGE
3. Manually from admin when we tick the box and export we can see the "hide_f

[2018-01-03 15:55] piotrekkaminski commented on #79
_From @magento-engcom-team on November 24, 2017 16:30_

@Softagz, thank you for your report.
We've created internal ticket(s) MAGETWO-84496 to track progress on the issue.

[2018-01-03 15:55] piotrekkaminski commented on #79
_From @PieterCappelle on December 21, 2017 21:33_

Can you assign this to me? I’ll fix this. Can @magento-engcom-team also add the label import/export? Thanks!

[2018-01-03 15:55] piotrekkaminski commented on #79
_From @dmanners on January 3, 2018 8:58_

I think this has been fixed in the 2.2-develop branch with the PR https://github.com/magento/magento2/pull/11926

[2018-01-03 15:56] piotrekkaminski opened #80 "Imported bundle products are not assigned stock status"
_From @indefinitedevil on November 17, 2017 13:2_

When importing a new bundle product (can be entirely new, or generated through replacement), no entry is generated for it in cataloginventory_stock_status. This means that when the frontend tries to display it, it encounters a NULL entry when trying to discover whether the product is salable.

vendor/magento/module-catalog/Model/Product/Type/Abstr

[2018-01-03 15:56] piotrekkaminski commented on #80
_From @indefinitedevil on November 17, 2017 16:27_

Addendum: this also happens when you add customisable options or change whether they are required.

[2018-01-03 15:56] piotrekkaminski commented on #80
_From @jwgraves2 on November 18, 2017 17:20_

We are experiencing the same with the same configuration/stack and steps to reproduce.

[2018-01-03 15:56] piotrekkaminski commented on #80
_From @magento-engcom-team on November 20, 2017 9:23_

@indefinitedevil, thank you for your report.
We've created internal ticket(s) MAGETWO-84124 to track progress on the issue.

[2018-01-03 15:56] piotrekkaminski commented on #80
_From @tonybrown85 on December 8, 2017 15:28_

@magento-engcom-team Any ETA on this please guys? Our client's website has around 80% of it's products as Bundles. They are on M2.1.5 which is extremely broken and we're trying to get them upgraded to 2.2 but this is a massive show stopper. Please provide an update or temporary fix. Thank you, Tony.

[2018-01-03 15:56] piotrekkaminski commented on #80
_From @ben-pushlogic on December 8, 2017 15:50_

@magento-engcom-team - This is also an issue for me. After upgrading from M2.1.5 bundles no longer display. Same process listed by @indefinitedevil
Is this likley to be fixed soon? Thanks Ben

[2018-01-03 15:56] piotrekkaminski commented on #80
_From @tonybrown85 on December 12, 2017 13:24_

@magento-engcom-team Is anybody going to get back to us re. this please? We cannot launch our clients website without this working so this is causing us a huge amount of problems! Any workaround at this point would be massively appreciated just to get the bundle products appearing. Thanks, Tony

[2018-01-03 15:56] piotrekkaminski commented on #80
_From @PieterCappelle on December 21, 2017 21:35_

Can you assign this to me? I’ll fix it. Please add import/export label. Thanks!

[2018-01-03 15:56] piotrekkaminski commented on #80
_From @jwgraves2 on December 22, 2017 1:2_

Glad to see this on the way to resolution. For anyone waiting on a fix, what worked for us was: 1) import the simples on which your bundles are based; 2) import the bundles via csv; 3) note the stock status on the bundles is out of stock (the bug); 4) create a dummy simple called "AAA" with inventory zero; 5) For each bundle product, add the AAA simple t

[2018-01-03 15:56] piotrekkaminski opened #81 "test"

[2018-01-03 15:56] piotrekkaminski commented on #81
_From @mrkkd2013 on December 24, 2017 10:38_

@magento-engcom-team Could you please help us?

[2018-01-03 15:56] piotrekkaminski commented on #81
_From @magento-engcom-team on December 26, 2017 11:11_

Hi @mrkkd2013
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2018-01-03 15:58] #81 closed, assigned to nobody

[2018-01-03 15:58] piotrekkaminski opened #82 "Improve Errormessage"
_From @brosenberger on October 30, 2017 10:53_

### Preconditions

1. Misconfigured product update within UpgradeData-Script:
[code]

### Steps to reproduce

1. Create a correct product import csv for a configurable product including some references within the configuration_variants column
2. go to admin-backend/system/import
3. choose products to import with above created import file
4. press val

[2018-01-03 15:58] piotrekkaminski commented on #82
_From @orlangur on October 30, 2017 12:6_

Such message has no sense as every global select is considered to be super by design:
[code]

However, check for `is_global` could be implemented as separate with separate error message.

[2018-01-03 15:58] piotrekkaminski commented on #82
_From @magento-engcom-team on November 17, 2017 10:30_

@brosenberger, thank you for your report.
We've created internal ticket(s) MAGETWO-84059 to track progress on the issue.

[2018-01-03 15:59] piotrekkaminski opened #83 "Magento 2 import products with images using CSV Issue"
_From @mayankzalavadia on July 11, 2017 14:1_

I'm trying to import a CSV file with new products that contain local images but I am receiving the error:
### Preconditions

1. Magento 2.1.7

### Steps to reproduce

1. Create simple product with image.
2. Export this product to CSV.
3. Try to import product with an image using csv.

### Expected result

Product Import Successful.

### Actual result

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @arvenzis on July 12, 2017 10:14_

I have the same problem while I do have images in the **pub/media/import** folder and in the csv the images are written like this: 123456.jpg (without the path)

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @magento-engcom-team on September 21, 2017 8:49_

Description updated.

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @magento-engcom-team on September 21, 2017 19:6_

@mayankzalavadia, thank you for your report.
We've created internal ticket(s) MAGETWO-75633 to track progress on the issue.

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @Jens-S on September 26, 2017 8:46_

I would like to work on this ticket.

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @okorshenko on September 26, 2017 10:30_

Hi @Jens-S
I've sent you an invitation to join Magento Team on public GitHub. Could you please accept the invitation?

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @Jens-S on September 27, 2017 20:26_

Sorry, but I want to pass this ticket back.

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @mayankzalavadia on September 28, 2017 9:35_

Hello @okorshenko

I also would like to give my contribution on Magento. So, can you please send me an invitation to join Magento Team on public GitHub.

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @okorshenko on September 29, 2017 13:29_

@mayankzalavadia invitation sent. Would like to work on this issue?

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @mayankzalavadia on September 29, 2017 13:38_

Yes I Would like to work on this issue.

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @KarlDeux on November 14, 2017 21:18_

Cannot reproduce it on 2.2 dev.
Are you filling Images File Directory field from the admin/import tool?
If so, try not to fill it and use the CSV file exported as-is.

PS: if you still encounter issues i'd like to take care of this ticket.

[2018-01-03 15:59] piotrekkaminski commented on #83
_From @PieterCappelle on December 21, 2017 21:39_

Can confirm. Can’t reproduce in 2.2 and 2.3.

[2018-01-03 15:59] piotrekkaminski opened #84 "Tablerate->getCsvFile() fails with non-default PHP upload_tmp_dir"
_From @zts on June 26, 2017 15:53_

### Preconditions

1. PHP upload_tmp_dir is set to a directory outside `/tmp/`.
2. Magento CE 2.1.x, code still in latest version here: https://github.com/magento/magento2/blob/develop/app/code/Magento/OfflineShipping/Model/ResourceModel/Carrier/Tablerate.php#L315

### Steps to reproduce

1. Make a new directory for uploads, eg `mkdir -p /var/lib/php/uploads &&

[2018-01-03 15:59] piotrekkaminski commented on #84
_From @vityakopin on July 4, 2017 12:29_

Internal ticket MAGETWO-70451 was created.

[2018-01-03 15:59] piotrekkaminski commented on #84
_From @magento-engcom-team on October 9, 2017 11:30_

@zts, thank you for your report.
We've created internal ticket(s) MAGETWO-70451 to track progress on the issue.

[2018-01-03 15:59] piotrekkaminski opened #85 "Welcome Email not sent after importing new customer with csv file"
_From @MattDelac on June 26, 2017 12:57_

### Preconditions

1. Magento 2.1.6
2. Php7  / Varnish / MySQL

### Steps to reproduce

1. Import new customers with a CSV file
2. Use the standard "customer and addresses (single file)" import

### Expected result

1. A "welcome email" is send to the new customers

### Actual result

1. The "welcome email" has not been sent

Is there someone that knows ho

[2018-01-03 15:59] piotrekkaminski commented on #85
_From @jordanbrauer on June 30, 2017 17:23_

Are you able to use the REST API? I do everything via backdoor with the API and Guzzle in a CLI application I made with the Symfony 3 Console Component which seems to work just fine.

[2018-01-03 15:59] piotrekkaminski commented on #85
_From @MattDelac on July 4, 2017 15:54_

Hello @jordanbrauer ,

Thanks for your reply.

I will get a look at the REST API. Which on do you think I should use in order to send the welcome email ?
However, API is a bit long and to synchronize 7000 clients per day, it will take too much time.
The csv import is just fine. I use a module that let me import any csv with a cli (==> easy to script)

Thank

[2018-01-03 15:59] piotrekkaminski commented on #85
_From @magento-engcom-team on October 2, 2017 9:30_

@MattDelac, thank you for your report.
We've created internal ticket(s) MAGETWO-80547 to track progress on the issue.

[2018-01-03 15:59] piotrekkaminski commented on #85
_From @jigar48 on December 14, 2017 7:25_

Hello M2,

Is this issue is fixed.

[2018-01-03 15:59] piotrekkaminski opened #86 "Product import doesn't allow empty attribute values for non-static attributes"
_From @jarnooravainen on June 20, 2017 9:29_

### Preconditions

1. Magento 2.1.8
2. Product attribute has non-empty value in the DB
3. In the import file product attribute's value is empty

### Steps to reproduce

1. Run product import
2. Check product attribute's value in the DB

### Expected result

1. Product attribute's value is empty after the import

### Actual result

1. Product attribute'

[2018-01-03 15:59] piotrekkaminski commented on #86
_From @veloraven on June 21, 2017 13:15_

@jarnooravainen thank you for your feedback.
Please provide exact detailed steps, with attributes examples.
Please also specify exact Magento version you are using.

[2018-01-03 15:59] piotrekkaminski commented on #86
_From @koenner01 on June 23, 2017 11:27_

@jarnooravainen https://github.com/magento/magento2/issues/10006, https://github.com/magento/magento2/issues/7468

[2018-01-03 15:59] piotrekkaminski commented on #86
_From @magento-engcom-team on September 20, 2017 8:59_

@jarnooravainen We added Magento version into preconditions.

[2018-01-03 15:59] piotrekkaminski commented on #86
_From @magento-engcom-team on September 20, 2017 9:2_

@jarnooravainen, thank you for your report.
We've created internal ticket(s) MAGETWO-75556 to track progress on the issue.

[2018-01-03 16:00] piotrekkaminski opened #87 "Export error causing "invalid option value" on import on configuarable Products 2.1.5"
_From @torchtrust on March 13, 2017 14:18_

### Preconditions
Bitnami Magento Stack 2.1.5-0

### Steps to reproduce

1. Create Product Attributes that have a different value for the Admin and Store View
2. Create a product that is configurable
3. export Products
4. import Products

### Expected result
1.  import should complete without error

### Actual result
1. "invalid option value" on the conf

[2018-01-03 16:00] piotrekkaminski commented on #87
_From @torchtrust on March 13, 2017 14:20_

If I edit the 'configurable_variations' of the configurable Product to match the 'additional_attributes' of the virtual Product then the import will work

[2018-01-03 16:00] piotrekkaminski commented on #87
_From @AlexWorking on June 30, 2017 8:28_

Hello @torchtrust . An internal issue - MAGETWO-70368 has been created based on Your issue. You”ll be informed as the issue is fixed. Thank You for applying.

[2018-01-03 16:00] piotrekkaminski commented on #87
_From @rtroncoso on July 18, 2017 22:7_

I'm experiencing this same issue using a Magento 2.1.7 install. I found that in my case this was produced by the "Multiple Value separator" in the products import form, which was set by default as a comma instead of a pipe character ( **|** ).

Changing the text field to use a pipe instead of a comma as the separator fixed this issue for me. Will be gatheri

[2018-01-03 16:00] piotrekkaminski commented on #87
_From @magento-engcom-team on October 4, 2017 6:30_

@torchtrust, thank you for your report.
We've created internal ticket(s) MAGETWO-70368 to track progress on the issue.

[2018-01-03 16:00] piotrekkaminski opened #88 "CatalogImportExport categoryProcessor is using default store id values"
_From @koenner01 on October 13, 2016 13:5_

When importing product data through the catalogImportExport module, new categories will be created even though categories with the correct path already exist.
### Preconditions
1. Magento 2.1
2. PHP7.0
### Steps to reproduce
1. Create a category 'Test'
2. Set the category name to something completely different on default storeview
3. Create a csv with ca

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @sevos1984 on October 18, 2016 15:4_

Internal ticket created MAGETWO-59827, thanks for posting

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @MattDelac on December 18, 2016 20:12_

Hello everyone,

As @koenner01, I have the same issue (Magento 2.1.2) and I don't know why categories do not work as attributes.
Indeed, it's very important to synchronize by 'Admin value' and to easily change the name in each store view.

Can someone tell me if this issue is resolved with the new update (Magento 2.1.3) ? I did not see in the changelog

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @Tchinkatchuk on December 19, 2016 8:30_

hello,

I dot agree with @MattDelac & @koenner01.
We should be able to do this. This is minimum valuable for export/import.

Thanks.

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @MattDelac on December 19, 2016 8:44_

@koenner01

Did you find a hack to do it in another way ?

Thank you

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @vherasymenko on May 11, 2017 13:38_

"Steps:
1. Install Magento latest develop version
2. Go to Admin side
3. Click ""Catalog > Categories""
4. Add new category with name for example (test)
5. Change location on top side on ""Default Store View""
6. And change name of created cateogry on something else
7. Create csv file for import with product (cateogry for product set ""Default Category/t

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @arshadpkm on June 10, 2017 11:41_

I will check this one

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @arshadpkm on June 13, 2017 11:12_

@okorshenko Need one help Travis fails with test INTEGRATION_INDEX=3, here is the link https://travis-ci.org/magento/magento2/jobs/242316296 But I am not sure how my commit related to this file. and how can I fix this?

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @okorshenko on June 13, 2017 16:54_

@arshadpkm please, create pull request against 2.1-develop branch, but not 2.1

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @magento-team on August 1, 2017 1:9_

Internal ticket to track issue progress: MAGETWO-69864

[2018-01-03 16:00] piotrekkaminski commented on #88
_From @magento-engcom-team on October 18, 2017 11:30_

@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-59827 to track progress on the issue.

[2018-01-03 16:00] piotrekkaminski opened #89 "ImportExport: BEHAVIOR_REPLACE deletes products?"
_From @paales on August 4, 2016 14:51_

### Preconditions

1. Magento 2.1.0
### Steps to reproduce

1. Import Product with BEHAVIOR_REPLACE set
2. Import Product with BEHAVIOR_REPLACE set again
### Expected result

1. Same product ID is used, but all the values provided by the import are replaced
### Actual result

1. Product gets deleted and recreated...

It REALLY shouldn't delete the product be

[2018-01-03 16:00] piotrekkaminski commented on #89
_From @paales on August 4, 2016 15:12_

Replace https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L920

With:

[code]

The complete `_replaceProducts` method should be deleted from the class, `git blame` should be started and the developer responsible should treat the complete company apple pie! 😋

[2018-01-03 16:00] piotrekkaminski commented on #89
_From @paales on August 5, 2016 9:10_

It seems to be not as easy as removing the above lines. I'm getting the following when importing configurable products. Will report back when I know more.

[code]

[2018-01-03 16:00] piotrekkaminski commented on #89
_From @paales on August 5, 2016 11:16_

Two things:
1. I didn't solve the integrity constraint violation.
2. The table it gives the integrity constraint violation on doesn't have to be filled with the importer..

This methods generates the data:
https://github.com/magento/magento2/blob/6ea7d2d85cded3fa0fbcf4e7aa0dcd4edbf568a6/app/code/Magento/ConfigurableImportExport/Model/Import/Product/Type/Conf

[2018-01-03 16:00] piotrekkaminski commented on #89
_From @slopukhov on August 23, 2016 8:37_

@paales thank you for your feedback.

This is the expected behavior for Replace action. Please read [Magento user guide](http://docs.magento.com/m2/ce/user_guide/system/data-import.html) for more details.

I'm closing the ticket. Please feel free to reopen if you have additional questions.

[2018-01-03 16:00] piotrekkaminski commented on #89
it's definitely not intuitive behavior that needs further investigation. @ilol can you look into that?

[2018-01-03 16:00] piotrekkaminski commented on #89
_From @ioliinyk on March 29, 2017 10:51_

This is bug.

[2018-01-03 16:00] piotrekkaminski commented on #89
_From @KrystynaKabannyk on April 18, 2017 15:54_

Internal ticket is created MAGETWO-67547.

[2018-01-03 16:00] piotrekkaminski commented on #89
_From @magento-engcom-team on September 29, 2017 6:30_

@paales, thank you for your report.
We've created internal ticket(s) MAGETWO-67547 to track progress on the issue.

[2018-01-03 16:00] piotrekkaminski commented on #89
_From @PieterCappelle on December 22, 2017 19:39_

I agree with @paales. REPLACE should be refactored or removed. Add/Update is also so wrong in many cases. When running add import it will add images to products, it will not overwrite them. Okay, I can understand but REPLACE is also no option like @paales is saying. In my opinion we should have one command for add/update/replace. :-)

[2018-01-03 16:00] piotrekkaminski opened #90 "Configurable products import doesn't work configurable_variations not imported"
_From @akamura on July 28, 2016 20:16_

### Preconditions

1. PHP 7.0.6
2. MySQL CE 5.6.30
3. Magento 2.1.0
### Steps to reproduce

Create a CSV with 3 virtual products and one configurable product.
The only attribute configurable is COLOR.
Add to the CSV (screenshot attached) the additional_attributes field, as well as configurable_variations and configurable_variation_lables.
### Expected result

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @akamura on August 3, 2016 9:40_

Even in Magento official guide I haven't found anything related to configurable_variations or configurable_variation_labels

http://docs.magento.com/m2/ce/user_guide/system/data-attributes-product.html

This is very strange since if you create and configure a configurable product from the backend and then you export the CSV file those two fields have data in

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @AzVo on August 18, 2016 15:54_

Hi

Thank you for your request, but unfortunately I can't reproduce this issue. I have CE 2.1.0 and one configurable product with 2 virtual products which were successfully exported and reimported. You can check my sample .csv file in attached .zip archive. Could you try to import it? And don't forget to reindex your indexes to have last data (http://devdocs.

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @akamura on August 26, 2016 9:22_

Hi,
import was successful but there is still a problem.

After import I navigate to the category where the configurable product is supposed to be, and the category is empty.
So I search for product SKU "CPr" and result is product not found.

I login to the backend and search for "CPr" as you can see Configuration is empty. If I manually create the configura

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @AzVo on August 26, 2016 9:56_

Hi,
Have you tried to rebuild your indexes after import?
You can find information about them in Admin-System-Tools-Index Management
And to rebuild index you need to use this command in cli
`php bin/magento indexer:reindex`

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @akamura on August 26, 2016 15:56_

Hi AzVo,
yes I executed the rebuild from the commandline but the product is still misconfigured.

I attach you my file that I have edited since I have different attribute_set and websites code.
[catalog_product_20160818_143015 2.csv.zip](https://github.com/magento/magento2/files/439623/catalog_product_20160818_143015.2.csv.zip)

Thanks
Marcos

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @akamura on September 2, 2016 17:52_

@AzVo did you tried with my file?

Thanks
Marcos

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @AzVo on September 5, 2016 13:16_

Hi @akamura ,

I am in progress with your issue. I found that "problem" is in store_view_code field. If it is empty - products are successfully imported with configurable options. But if there is any value - it fails. I need some more time to discuss this with my colleagues.

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @AzVo on September 9, 2016 8:24_

Hi again

I have created internal ticket for this bug (#MAGETWO-58213) to fix it. This issue will be closed after fix.

Thanks for help!

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @akamura on September 9, 2016 17:13_

@AzVo thank you very much

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @alexnos88 on September 20, 2016 17:28_

Having the same problem.
Will be glad to see the fix))

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @Yonn-Trimoreau on September 27, 2016 13:42_

For those who find this issue and can't import configurables properly even with store_view_code not set, here is how I solved the issue:

The field 'configurable_variations' must be formated like this:

Where ## is your multiple value separator

[Here is the corresponding code](https://github.com/magento/magento2/blob/6ea7d2d85cded3fa0fbcf4e7aa0d

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @erik-augustin on September 28, 2016 7:20_

when i export configurable item with multiple text swatches only one text swatch is exported(at field configurable_variations)

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @sshymko on November 7, 2016 21:3_

Having the same (or similar) problem: relations to simple products won't import for configurable product when store view is specified in the CSV file.

@AzVo Any updates on the core fix?

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @LiamFielding on November 30, 2016 14:54_

Try the import and turn down errors to one - it is usually my fault when this happens.

[2018-01-03 16:00] piotrekkaminski commented on #90
_From @jarnail104 on December 27, 2016 12:46_

If anyone imported configurable product with color and size or more attributes , please send file here. i am having this issue. thank you

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @jarnail104 on December 28, 2016 7:21_

@Yonn-Trimoreau  ...I need to import configurable products with color and size attributes and thats not working. Can you please help me or you can send me demo file which work on 2.1.2. I can also upgrade my version to 2.1.3 i am not sure if this issue is fixed because i didnt find anything related to importing configurable product. Thanks

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @Yonn-Trimoreau on January 6, 2017 11:4_

Sorry @jarnail104, I don't have the import file neither the project anymore..

Try with 'configurable_variations' row formatted like this :

And set your multiple value separator to "##".

If you can't manage to make it work, send us a stack trace or an error code, or maybe your file and some details about how that's not working.

Good luck

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @fmd-sav on February 1, 2017 12:43_

Hello guys,

I had the same problem in Magento 2.1.3 and solved it for me.

I had to add the attributes in configurable_variations also in the additional_attributes field. After that Magento recognize the connection between the configurable and simple product.

Good luck.

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @JosueTorresM on March 8, 2017 16:4_

Hello guys,

Hi @fmd-sav I tried to add the key fields in the additional_attributes but it does not work :(

This how looks my configurable_variations:
sku=MX_2303024_31,size=25|sku=MX_2303024_32,size=25.5

How can I add these keys to the additional_attributes?, only for the configurable product? or for every simple product?

Thx a lot

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @iacopop on April 13, 2017 13:37_

Hi,
is there a simple_file.csv that can be used as test to import a configurable product with size and color variations?

I'm not able to import it in magento 2.1.6
thanks
Iacopo

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @LiamFielding on April 13, 2017 14:51_

Create one in the interface and export a csv - it will show you exactly how it is done.

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @sonjaka on May 9, 2017 8:38_

I have this problem also - configurable products are imported correctly when "store_view_code" is empty, but as soon as I set it, the products are not correctly associated anymore. Import still works, just the connection between the products somehow doesn't work out.

Is there a solution that I missed? I need to import products for three different store views a

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @iacopop on May 9, 2017 9:33_

i try to import standard product in single website/storeview configuration.
Import works if file csv is exported from magento2 with all fields.
I hope it can help you.

Iacopo

2017-05-09 10:38 GMT+02:00 Sonja <notifications@github.com>:

--
Iacopo Pecchi
E-commerce Specialist & Project Manager
http://www.consulente-ecommerce.it
tel. +39 328 9381301
info@consul

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @Sapta34 on June 13, 2017 6:48_

I want to import the attach CSV file to magento 2.0.10. I have successfully import this csv, but the options for the configurable product not display in frontend. Alreday reindex and clear cache.
[catalog_product_20170605_101740.zip](https://github.com/magento/magento2/files/1070518/catalog_product_20170605_101740.zip)

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @magento-engcom-team on October 10, 2017 15:30_

@akamura, thank you for your report.
We've created internal ticket(s) MAGETWO-58213 to track progress on the issue.

[2018-01-03 16:01] piotrekkaminski commented on #90
_From @jigar48 on November 4, 2017 15:8_

Any Update on this issue

[2018-01-03 16:03] piotrekkaminski opened #91 "Import doesn't allow to set default value per store view (dropdown fields)"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Two store views are created (english and chinese)
3. Products are imported from attached file
[import_productsoftwostoresdata.csv.zip](https://github.com/magento/magento2/files/1560048/import_productsoftwostoresdata.csv.zip)

### Steps to reproduce
1. Log in to Admin
2. Go to Catalog > Products
3. Open product name4
4. Go to Adva

[2018-01-03 16:05] piotrekkaminski commented on #91
Related commits: https://github.com/madbounce/magento2/commit/5acc5f9c8e71d039523ebe544ef1805582c22e10
https://github.com/madbounce/magento2/commit/101aa681d69df50fcd223ee2ade9483c49cd3130

https://github.com/magento/magento2/pull/12754

[2018-01-03 16:22] piotrekkaminski opened #92 "Huge memory usage when importing large quantities of products"
imported from: https://github.com/magento/magento2/issues/10914

When importing huge amounts of products Magento 2 is loading contents of importexport_importdata to memory and then iterate it in memory which results in huge memory usage

### Preconditions
1. Magento 2.1.7
2. CSV with 1 500 000 products

### Steps to reproduce
1. Validate 1 500 000 products
2. Run import

### Expected result
1. Mem

[2018-01-03 16:22] piotrekkaminski commented on #92
Pull request: https://github.com/magento/magento2/pull/10918

[2018-01-03 16:22] piotrekkaminski commented on #92
_From @magento-engcom-team: @diwipl, thank you for your report.
We've created internal ticket(s) MAGETWO-84592 to track progress on the issue. _

[2018-01-03 16:25] piotrekkaminski opened #93 "Product import doesn't import all products, but still gives success message"
Original issue: https://github.com/magento/magento2/issues/5846

### Preconditions

1. Magento default product importer
2. Simple products in a Magento-format CSV
### Steps to reproduce

1. Run Check Data on product CSV.  Check Data returns valid
2. Import products. Magento shows success
### Expected result

1. Products are imported
### Actual result

1. Not all products are imported

When `Check

[2018-01-03 16:26] piotrekkaminski commented on #93
Reproduced on Enterprise 2.1.0 - from @jameswithers

[2018-01-03 16:28] piotrekkaminski commented on #93
@jameswithers: @IlnitskiyArtem The error is still present in the code:

https://github.com/magento/magento2/blob/2.2.0-preview/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L1539 stops product imports when it encounters a non-true value e.g. null. null is being entered into the import data tables by
https://github.com/magento/magento2/blob/2.2.0-preview/app/code/Magento/ImportExpor

[2018-01-03 16:29] piotrekkaminski commented on #93
@lewisvoncken, @experius-nl My college has already created a fix for this. I will come back to you this week with a pull request with his fix. A pull request with a fix has been made for branch 2.1-develop in the partner Github

[2018-01-03 16:29] piotrekkaminski commented on #93
@vkublytskyi: Thank you all who participated in the discussion on the issue. @experius-nl created a PR in partners repository to add handling of JSON encoding error. We are going to accept and merge these changes.

However, such fix cannot be counted as a full as any invalid data should be detected before Magento\ImportExport\Model\ResourceModel\Import\Data::saveBunch call. So if some data lead to

[2018-01-04 10:13] umarch06 commented on #52
@dmanners

[2018-01-04 16:02] VincentMarmiesse commented on #42
Hello @piotrekkaminski,
Any news on this issue?

[2018-01-09 08:08] umarch06 commented on #52
I tried to reproduce the steps, catalog price didn’t increase when I added value to a custom option with price zero. So it is working fine if either I import product options or create new while creating/updating current product. It needs to be rechecked.

[2018-01-09 12:09] TomashKhamlai commented on #52
I was not able to reproduce this issue.
@umarch-rltsquare, @dmanners I tested Magento CE from 2.3-develop branch. I attached the archive with CSV and video.
[price0_product_20180109_094835.tar.gz](https://github.com/magento-engcom/import-export-improvements/files/1614999/price0_product_20180109_094835.tar.gz)

[2018-01-09 12:38] dmanners commented on #52
Thank you @TomashKhamlai and @umarch-rltsquare for looking into this problem. Since we are supporting 2.3-develop in this project I will close this issue now.

[2018-01-09 12:38] #52 closed

[2018-01-09 16:35] gustavogravina commented on #47
I'm having the same issue on 2.2.2
I cannot update current SKUs. I only get duplicated SKUs.
Thanks.

[2018-01-09 22:36] mzeis commented on #34
This has been fixed for `2.3-develop` in [PR #12853](https://github.com/magento/magento2/pull/12853#event-1416312902) - see commit [38b2773e](https://github.com/magento/magento2ce/commit/38b2773ec4fb7fc0d0fd82a19ae66e7dc9c36ded).

[2018-01-10 07:34] dmanners commented on #34
Has been done in 2.3-develop. Thank you for the information @mzeis

[2018-01-10 07:34] #34 closed

[2018-01-10 14:35] adam-paterson commented on #41
@dmanners Can you assign this one to me please?

[2018-01-10 14:36] dmanners commented on #41
@adam-paterson done, but I think you should have permission to add yourself

[2018-01-10 14:41] adam-paterson commented on #41
Thanks, I tried but wasn’t able to self-assign it.

On 10 Jan 2018, 14:36 +0000, David Manners <notifications@github.com>, wrote:

[2018-01-11 08:14] dmanners commented on #71
Fixed as part of the merge https://github.com/magento/magento2/commit/2ad32d937431d742f2d58ca6370bdd5d07d21d11

[2018-01-11 08:14] #71 closed

[2018-01-12 13:43] dmanners commented on #74
This is already fixing in 2.3-develop.

[2018-01-12 13:43] #74 closed, assigned to nobody

[2018-01-13 12:02] jean-bernard-valentaten commented on #74
Is this going to be backported to 2.1?

[2018-01-16 17:19] php4umagento commented on #33
I can see two issues - on the export form - multiselect is rendered as a normal select, then when you pick options it is not filtered

[2018-01-17 08:01] lenvanessen opened #96 "`"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2018-01-17 08:01] #96 closed, assigned to nobody

[2018-01-17 08:19] dmanners commented on #91
This is a duplicate of https://github.com/magento-engcom/import-export-improvements/issues/61

[2018-01-17 08:19] #91 closed, assigned to nobody

[2018-01-17 08:24] dmanners commented on #87
Duplicate of https://github.com/magento-engcom/import-export-improvements/issues/90

[2018-01-17 08:24] #87 closed, assigned to nobody

[2018-01-17 08:24] dmanners commented on #86
Duplicate of https://github.com/magento-engcom/import-export-improvements/issues/49

[2018-01-17 08:24] #86 closed, assigned to RomaKis

[2018-01-17 08:26] dmanners commented on #84
This has been fixed already in 2.3 by @RomaKis do we want to consider it for a backport? @PieterCappelle @piotrekkaminski

[2018-01-17 08:28] PieterCappelle commented on #84
Yes, backport is needed.

[2018-01-17 08:28] dmanners commented on #83
I will close this as it cannot be reproduced on 2.3 which is our focus for this project.

[2018-01-17 08:28] #83 closed, assigned to nobody

[2018-01-17 08:32] dmanners commented on #79
This appears to have already been fixed in 2.2-develop. I would consider that we could forward port this to 2.3-develop as part of our project.

[2018-01-17 08:35] dmanners commented on #78
@PieterCappelle could you update this ticket for me. I see you have changed some stuff related to image processing. Is this already in 2.3-develop? Does it cover the issue raised in this ticket? Should we consider a backport here?

Feel free to change the labels if we should backport and also add to phase 2 or close if we no longer need this ticket.

Thank you.

[2018-01-17 08:36] dmanners commented on #77
@PieterCappelle again another image related one. Could you again validate what the next steps if any should be for this issue.

[2018-01-17 08:37] dmanners commented on #76
Duplicate of https://github.com/magento-engcom/import-export-improvements/issues/34

[2018-01-17 08:37] #76 closed, assigned to PieterCappelle

[2018-01-17 08:39] dmanners commented on #57
Has been fixed via https://github.com/magento/magento2/pull/12872

[2018-01-17 08:39] #57 closed

[2018-01-17 10:58] dmanners commented on #43
So I am going to have a look at this. Have looked at a set of 10000 customers and the import is working fine with a memory limit of 268M. I will try to generate a set of 50000 customers and then see how the import behaves.

[2018-01-18 11:31] dmanners commented on #84
@RomaKis would you like to work on this backport? The issue is assigned to you but I think that was because the original issue was assigned to you. If not I can un-assign this and someone from the project can pick this up.

[2018-01-18 12:00] KarlDeux commented on #83
Kudos @piotrekkaminski, @dmanners !

[2018-01-18 15:54] RomaKis commented on #84
@dmanners, pls un-assign me.

[2018-01-26 08:55] dmanners commented on #42
This has been fixed in `2.3-develop` as part of the PR https://github.com/magento-engcom/import-export-improvements/pull/94

[2018-01-26 08:55] #42 closed

[2018-01-27 22:07] mangoextensions commented on #80
The M2 import function does not seem to insert the parent/child pairs to the table catalog_product_relation

A quick fix, using mysql and then reindexing, so the parent/child relations are added to the table:

insert into catalog_product_relation(parent_id, child_id)
select parent_product_id , product_id from catalog_product_bundle_selection where parent_product_id not in ( select distinct parent_

[2018-01-30 01:53] ladle3000 commented on #80
@mngtestuser do you have to do this association for every child product in the bundle?  We have hundreds of options.

[2018-01-30 12:42] mangoextensions commented on #80
@snoroozi  : the mysql query has to be run after the import is ready and will add all the associations for all bundle products. In our case, for A bundle products, B select options for each product and C options for each select, AxBxC records were added.

[2018-01-30 15:15] ladle3000 commented on #80
@mngtestuser thank you. Unfortunately this is not working for me, because I think the parent id has multiple entries in my case, since we use the same child for multiple options.

Do you know how I could rework the query in this case?

[2018-01-30 15:16] ladle3000 commented on #80
Further, does anyone know where to set sort order in magento 2 for the bundle option sets?  I see no place in the csv export that specifies this.

[2018-02-02 13:52] dmanners commented on #43
Merged under the PR https://github.com/magento-engcom/import-export-improvements/pull/97

[2018-02-02 13:52] #43 closed

[2018-02-02 13:52] PieterCappelle commented on #49
PR > https://github.com/magento/magento2/pull/13472

[2018-02-02 14:13] dmanners commented on #50
I will cover the test updates here.

[2018-02-02 20:04] umarch06 commented on #50
thanks @dmanners, will you make a new pull request for this issue including my code as well?

[2018-02-06 22:41] adam-paterson commented on #84
@dmanners I can look into this one, I need to understand the process and effort required for back-porting for M2 though. Could you ping me on Slack when you have a minute to discuss. ❤️

[2018-02-06 22:53] adam-paterson commented on #80
@dmanners Self-assigned this for the next phase of work. Two of the above comments are from a founder of my agency and the founder of a freelance project. I've spent a fair few hour debugging and have a compelling need to get fixed.

[2018-02-07 00:12] cmuench commented on #8
👍
We need a better format to handle multi dimensions of data. CSV is to simple for that.
This leads into "CSV Microformats" like the additional attributes.

[2018-02-16 14:57] federivo commented on #37
_For reference, this is the email I sent to the import/export project team, trying to clarify what the next steps should be:_

===========

Hi all!

These are the problems I found and the next steps I think we should take to move this forward.

Problem 1 - The import process allows you to create products with leading and trailing spaces but the admin panel does not.

This leads to issues like:
- I

[2018-02-16 15:26] federivo commented on #37
Per Feb 16 import/export meeting -

We identified 2 issues that have been raised by this:

1. SKUs and leading/trailing spaces

Should the import process behave the same as the product creation in admin panel? Decision: Yes.

Should Magento allow leading/trailing spaces? Decision: Yes, they are valid characters and after discussing the decision is that Magento should accept them as valid character

[2018-02-16 15:30] dmanners commented on #37
@piotrekkaminski could you have a look through the point 2 of the comment from @federivo .

[2018-02-16 16:03] federivo opened #101 "Magento modifies the SKU when creating products and SKU is already used"
### Preconditions

1. Magento 2.x
2. PHP 5.5 5.6 7.0 7.1
3. MySql 5.5 5.6

### Steps to reproduce

1.  Create a product with SKU "ABC"
2. Then create another product with the same SKU "ABC"

### Expected result

1. It should alert the user with an error message that the SKU is already in use by another product

### Actual result

1. Magento appends a "-1" to the SKU and saves it.

[2018-02-16 16:04] federivo commented on #101
As discussed in Feb 16th import/export meeting, @dmanners will discuss this with a Magento product owner to consider changing actual behavior regarding SKU management.

[2018-02-20 10:27] dmanners commented on #33
Hi @php4umagento during testing the QA team validated the customer section is fixed but would it also be possible to fix the product filter part as well?

[code]

[2018-02-24 10:01] patvarosgabor commented on #85
@MattDelac is this issue solved?
Did you get a solution?
I have the same issue.

Thnx

[2018-02-27 01:58] federivo commented on #37
For reference: @piotrekkaminski agreed that when trying to save an existing sku in the admin panel, the desired behavior is to return an error to the user instead of modifying the sku to be unique

[2018-02-27 01:59] federivo commented on #101
Approved by @piotrekkaminski. Moving forward with this issue.

[2018-03-03 18:43] adam-paterson commented on #40
@piotrekkaminski @dmanners

I'm not sure this is an issue. What are your thoughts?

`product_online` maps to the product attribute `status` which has two possible values `STATUS_ENABLED = 1` or `STATUS_DISABLED = 2`. The `status` attribute has a `Website` scope and so I would expect not to be able to set the status of a product for a particular store view.

[2018-03-03 19:32] Tonop commented on #40
Hi there,

How is possible to change the scope of the attribute from website to store?

[2018-03-03 21:33] adam-paterson commented on #40
Hey @Tonop,

I wouldn't recommend making a scope change to a system attribute. I'll continue to look into this to ensure I'm correct with my findings.

Feel free to email me at hello[at]adampaterson.co.uk. We could talk through your requirements and see if there is actually a need to have this attribute at a store view scope rather than website.

[2018-03-05 16:04] #50 closed

[2018-03-12 10:20] #41 closed

[2018-03-22 19:38] avstudnitz commented on #8
One possibility is how we do it with https://github.com/firegento/FireGento_FastSimpleImport2: we just allow to import from arrays in PHP. The structure is the same as in the core which is not ideal, I agree with @cmuench on that. But it's a lot better than nothing.

[2018-03-23 10:43] orlangur commented on #101
@federivo @piotrekkaminski what about SKU autogeneration for a new product? As far as I remember current behavior when SKU was left empty and autogenerated one was already in use is to show warning "SKU was changed to ABC-1" or something like that.

I don't see this case covered in linked PR.

[2018-03-26 10:35] alexishughes commented on #58
I have the same issue with Magento CE 2.3. Exactly the same, Magento makes an invalid URL request and then just spins out. I think if your server is slow then the second key request is triggered after ~30s and this is why not so many people have this issue. Is there a patch?

[2018-03-27 08:19] tdgroot opened #103 "Duplicate multiselect values result in Product EAV indexing errors"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Create a multiselect attribute, fill it with values
2. Create an import sheet with a column for the multiselect attribute
3. Fill in duplicate values, for example `Dutch|English|French|Chinese|English`.
4. Import the sheet.

### Expected result

[code]

### Actual result

[code]

### The solution
I see 2 possible solutions:
- Deduplic

[2018-03-27 08:21] tdgroot commented on #103
I added `The solution` section to get the discussion going, so we can get to a solution faster.

[2018-03-27 09:10] dmanners commented on #58
Hi @alexishughes thank you for the feedback. Currently there is no patch though I cannot imagine it being too hard to sort it and provide a pull request.

[2018-04-05 07:31] dmanners commented on #33
This has been merged into `2.3-develop` as part of https://github.com/magento-engcom/import-export-improvements/pull/98

[2018-04-05 07:31] #33 closed

[2018-04-18 13:02] dmanners commented on #37
@springerin has agreed to help out with this task, while we figure out what to do with her current task.

Work to be done here is as follows.

**SKUs and leading/trailing spaces**

Should the import process behave the same as the product creation in admin panel? Decision: Yes.

Should Magento allow leading/trailing spaces? Decision: Yes, they are valid characters and after discussing the decision

[2018-04-19 09:49] simonmaass commented on #90
+1 I am having the same problem!

[2018-05-29 19:35] nemesis-back commented on #92
@dmanners @piotrekkaminski assign to me please

[2018-05-30 08:03] dmanners commented on #92
Hi @nemesis-back thank you for reaching out to us. I have sent you and invitation to the github team. Once you have accepted this invite you will have permissions to assign a task to yourself. If you need any further help feel free to reach out to me.

[2018-06-04 19:44] Rickertje commented on #25
Can anyone tell me why this was closed?

[2018-06-05 08:51] dmanners commented on #25
Oh thanks for catching this @Rickertje this was closed due to human error on my part :( I will reopen it now.

[2018-06-12 12:21] tadhgbowe commented on #65
Hello.
Is this when importing product customizable options? Have we got an example CSV file?
Thanks,
Tadhg

[2018-06-12 13:45] dmanners commented on #65
@tadhgbowe this is for attribute options for example if you setup colour on a product.

[2018-06-13 15:46] tadhgbowe commented on #65
Hello. An update from me on this one:

[TESTED on 2.3-develop branch].

Lets zoom in on product attribute "color". I created a new Option "White, Cream" in the Admin Panel and it saved fine.
I then tried to import a new virtual product with a "color" column and the value "White, Cream". It imported fine.
I then tried to import just a color change using the "additional_attributes" column with the v

[2018-06-15 11:46] tadhgbowe commented on #82
@piotrekkaminski - I've reviewed this.

TESTED ON  [Magento Commerce 2.2.2] and [2.3-develop]

If the import detects that a configurable_variations attribute code is not super the following checks are needed:

1. Check attribute exists.
2. Check that it has a Catalog Input Type of "Dropdown", "Visual Swatch" or Text Swatch"
3. Check that it has a Scope of "Global".
4. Check that it exists in requi

[2018-06-15 16:10] piotrekkaminski commented on #82
I'd prefer detailed message when available, when not a list of possible reasons. The easier we can make it for people to avoid looking at CSV trying to guess what's wrong, the better.

[2018-06-17 10:06] dmanners commented on #103
Hi @tdgroot I think that adding the deduplication of values would be a valid fix in this case.

[2018-06-17 12:29] dmanners commented on #103
Actually talking with @pogster we think that maybe showing this error message would be a good option here.

@pogster if you feel like tackling this at some point feel free to assign it to yourself.

[2018-06-19 10:16] tadhgbowe commented on #82
@piotrekkaminski - Agreed. It's on my radar. Thanks. T

[2018-06-19 10:22] tadhgbowe commented on #65
@dmanners - Quick Update:

I have a solution written to allow the comma character be part of a valid super attribute option value inside the configurable_variations column. For example "color=White, Cream"

I will test with other characters like "=", "-" and "|" next. If all is well then I shall submit a pull request.

Thanks,
Tadhg

[2018-06-19 15:31] tadhgbowe commented on #65
@dmanners - Test results with "|" pipe character.

I created a color with an option value of "Yellow | Orange"

This causes a product import failure when you try to assign that value to a configurable_variations SKU e.g. sku=YellowOrange34,size=34,color=Yellow | Orange

The pipe character is the default multi-line separator for the configurable_variations column. So there's more work required here

[2018-06-20 23:05] sashas777 commented on #42
Hi guys,

I made composer module based on a solution at https://github.com/magento-engcom/import-export-improvements/pull/94/ and it seems works for our store.
It is only for the version from 2.2.4 and less than 2.3 where the assumption that it would be fixed in the 2.3.0 release. If it won't be then I will update composer dependencies.

Feel free to use it it would help your stores: https://githu

[2018-06-22 11:53] tadhgbowe commented on #82
Quick update from me:

If the import detects that a configurable_variations attribute code is not super one the following error messages will be displayed:

Attribute code does not exist or is not in chosen attribute set.
Attribute code needs to have an Input Type of "Dropdown", "Visual Swatch" or Text Swatch"
Attribute code needs to have a Scope of "Global".

This covers all reasons why is not su

[2018-06-29 10:51] quannh02 opened #116 "ffffffffffffffffffffffffffffffffffffffffff"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-29 21:38] tadhgbowe commented on #90
Hello @simonmaass. I'm reviewing all the past history/comments on this.

Are you still having problems?

I've been doing extensive testing on configurable product importing. I'm trying to identify what are the outstanding issues (if any) from all previous comments. I appreciate many of these comments go back in time.

I downloaded the zip file that @Sapta34 (see further up) and I was able to impor

[2018-06-29 21:54] tadhgbowe commented on #65
Hello.
An update from me.
I've been doing extensive testing with the product import "configurable_variations" column and what happens if the super attribute option value contains a "|", "," or "=". All three will cause problems.

But I've made a discovery. You don't need to actually have a super attribute value specified. Here's an example - this is what we're used to seeing:

sku=Yellow34,size=34

[2018-07-05 17:02] simonmaass commented on #90
Hello Tadhg,

thank you for your detailed testing and effort - that you can import without the specific attribute value in the child product colum is very cool.

I decided to go with an extention:
https://firebearstudio.com/the-improved-import.html

The thing that sold it for me was that you could specify the child products from a configurable product via a single colum in the sheet. This makes it

[2018-07-20 16:15] tadhgbowe commented on #90
Hi @simonmaass

Thanks for the update. An improvement for Magento 2 would be to match what that extension does.

Instead of having the current configurable_variations column we would have two columns:
configurable_variation_skus - comma separated list of SKUs
configurable_super_attributes - comma separated list of super attribute codes.

The product export would also need to be updated to line up

[2018-07-22 17:45] #116 closed, assigned to nobody

[2018-07-22 17:47] pogster commented on #116
Closed this for lacking content?

[2018-07-22 17:47] pogster commented on #103
PR is open #117

[2018-07-23 14:25] dmanners commented on #82
Thank you @tadhgbowe for your fix for this issue. PR https://github.com/magento-engcom/import-export-improvements/pull/115 has added more detailed information to error messages here.

[2018-07-23 14:25] #82 closed, assigned to tadhgbowe

[2018-07-23 14:25] dmanners commented on #30
Thank you @pogster for PR https://github.com/magento-engcom/import-export-improvements/pull/113 which has covered this issue.

[2018-07-23 14:26] dmanners commented on #88
Thank you @pogster your PR https://github.com/magento-engcom/import-export-improvements/pull/112 has covered this issue.

[2018-07-23 14:26] #88 closed, assigned to pogster

[2018-07-23 14:26] dmanners commented on #44
Issue fixed in PR https://github.com/magento-engcom/import-export-improvements/pull/110

[2018-07-23 14:26] #44 closed, assigned to dmanners

[2018-07-23 14:27] dmanners commented on #64
Issue fixed in PR https://github.com/magento-engcom/import-export-improvements/pull/109

[2018-07-23 15:22] dmanners commented on #49
Covered in PR https://github.com/magento/magento2/pull/13472

[2018-07-23 15:22] #49 closed

[2018-07-24 17:41] NoorulBhoelai opened #118 "Products are not getting replaced because of the strtolower function on fetching sku from the database"
While importing new simple products with a capital alpha character postfix, existing simple product will not get replaced because of the strtolower($sku) function when fetching SKU's from the database.

### Preconditions
1. Magento version 2.2.3

### Steps to reproduce
1. import product with sku 11111M
2. run import again with sku 11111M

### Expected result
View catalog_product_entity table and y

[2018-07-25 07:41] paales commented on #118
Few discussion points we had internally:

- It would be best if SKU would be case-sensitive and if it would support all characters possible. This way we give more freedom to the merchant and they can create SKU's in any format. Having that said, we understand that his will be a big change.
- Removing the strtolower functionality wasn't as easy as it looked, because it is used in a _lot_ of classes

[2018-07-27 13:39] dmanners commented on #103
Hi, this has been covered in the 2.3-develop branch by the PR https://github.com/magento-engcom/import-export-improvements/pull/117 from @pogster

[2018-07-27 13:39] #103 closed, assigned to pogster

[2018-07-27 14:00] tdgroot commented on #103
Great work, thanks @pogster and @dmanners!

[2018-07-27 20:30] tadhgbowe commented on #37
Hello.
I've started to look into this issue. Currently retesting all scenarios. I'm seeing some slightly different results than originally reported. At the moment I'm focused on the Admin Panel and Product Import. Will post my results soon. Hopefully then a definite path to SKU happiness. :-)
Cheers.

[2018-07-30 09:55] tadhgbowe commented on #37
Hello.

In our quest for SKU happiness I've been doing some testing. Here's what I've found so far:

TESTS:

1. Admin Panel: Create product with SKU " XYZ" - whitespace before.

2. Admin Panel: Create product with SKU "XYZ " - whitespace after. All fine.

3. Admin Panel: Create product with SKU "XYZ" - no whitespaces. Expected Result: Should create fine. Result: "-1" appended to SKU.

--------

4.

[2018-07-30 14:55] tadhgbowe commented on #37
@dmanners

From our meeting today David quite rightly pointed out that in POSSIBLE SOLUTIONS above, the LIKE comparison operator may also solve our problem:

a) In checkAttributeUniqueValue (Eav/Model/Entity/AbstractEntity.php) we have this query example:

SELECT catalog_product_entity.entity_id FROM catalog_product_entity WHERE (sku like 'DEF ')

I've just done some tests and it works well.

SKU

[2018-08-06 21:02] jackeryhammond commented on #90
Hi

I thought it would be worth noting, I am having this issue occur only when the attribute that the configurations revolve around were created by myself.

I ensured the attribute was created based off the guidelines provided for configurable products in the Magento Documentation.

I've followed all applicable steps provided by people in this thread.

If I do this based off of colour it is absolu

[2018-08-13 03:39] dmanners commented on #40
As discussed with @akaplya the following idea was raised.

`Import should validate input data if, data assigned to website level has different values for associated stores Import should raise an exception.import should validate input data if, data assigned to website level has different values for associated stores Import should raise an exception.`

[2018-08-13 05:33] dmanners commented on #36
The reason that this happens is because of https://github.com/magento-engcom/import-export-improvements/blob/2.3-develop/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L2900 At this line no matter what is the value of "is_in_stock" if you do not also change the quantity you will get up in the stock processor.

This stock processor will will always return true unless the quantity is

[2018-08-13 05:43] dmanners commented on #36
Or the other option would be to leave the qty but set allow_backorders = 1 and use_config_backorders = 0 while setting is_in_stock to 0.

Though neither are nice solutions they might help while we work on a solution for this problem.

[2018-09-14 10:52] brosenberger commented on #25
following class can be altered to ensure positions do not get lost on import: \Magento\CatalogImportExport\Model\Import\Product

replacement within di.xml:
`<preference for="Magento\CatalogImportExport\Model\Import\Product" type="Vendor\Module\Model\Import\Product" />`

The problematic function is _saveProductCategories where the position is manually set to 1 instead of the preset values from the

[2018-09-20 19:59] id-graziano commented on #48
I am getting this error on import and it is not due to a funny curly quote or anything like that... it is from a regular apostrophe. After hunting this error down in the code base, I can see that it is occurring at this line: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/ImportExport/Model/Import/Source/Csv.php#L82. I am on 2.2.3 right now but the code is the same.

[code]

[2018-10-03 08:52] AntonEvers commented on #15
Sorry for the long, long delay. Before EE staging functionality you could import special prices with a from-to date. With the staging functionality this is done using a version of the product with a start and end date, which can contain more changes than just the price.

Depending on wether external systems should be agnostic of this functionality, we can:
- add from to dates to certain attributes

[2018-10-08 10:02] dbolufer commented on #62
I am working on this #squashtoberfest

[2018-10-08 10:02] valentinboyanov commented on #62
I am working on this #squashtoberfest

[2018-10-08 10:09] davidselo commented on #62
I am working on this #squashtoberfest

[2018-10-22 09:55] dmanners commented on #80
Hey @adam-paterson are we still waiting on a backport here or is this all covered now?

[2018-10-22 09:56] dmanners commented on #84
All covered here now. Will close this off.

[2018-10-22 09:56] #84 closed, assigned to adam-paterson

[2018-10-22 16:53] ladle3000 commented on #80
I've got some incomplete SQL queries I've been testing and using to add and
remove new bundle selections.  Let me know if you're interested.

On Mon, Oct 22, 2018, 6:47 AM David Manners <notifications@github.com>
wrote:

--
Scott Noroozi

[2018-10-25 07:45] dmanners commented on #80
This has been covered in 2.3 by @adam-paterson and in 2.2-develop with the commit https://github.com/magento/magento2/commit/ec8830fcd9b86ce75aa2a3cc685fa83316dcc971#diff-2456e1e4a327efb1a7617a7ce822b66c.

Thanks for all that helped here.

[2018-10-25 07:45] #80 closed, assigned to adam-paterson, nadiasala

[2018-10-25 10:38] dmanners commented on #79
This has already been forward ported to 2.3-develop so there is nothing to do here.

[2018-10-25 10:38] #79 closed, assigned to nobody

[2018-10-25 10:41] dmanners commented on #92
Hi @nemesis-back did you get anything working on this? Or have any debugging information that might be useful for people to continue working with?

[2018-10-25 10:52] dmanners commented on #45
This has been covered in 2.3-develop by https://github.com/magento/magento2/commit/f06e173d86ee4ee3ed9da5e44f9e05b44b7736f6 and in 2.2-develop by https://github.com/magento/magento2/pull/11968

[2018-10-25 10:52] #45 closed

[2018-10-25 10:58] dmanners commented on #58
This has been covered in 2.3-develop via https://github.com/magento-engcom/import-export-improvements/pull/111/files

[2018-10-25 10:58] #58 closed

[2018-10-25 11:12] dmanners commented on #118
Hello,

Thank you for raising this issue. We are currently investigating this and more issues with regards to SKU look ups under the issue https://github.com/magento-engcom/import-export-improvements/issues/37 I would like to combine these issues if that makes sense.

@tadhgbowe is this case being covered in your issue validation?

[2018-10-25 12:23] dmanners commented on #75
At the moment the class `app/code/Magento/ImportExport/Model/Import.php` is using the method `getErrorsCount` to define if there have been errors or not. I think in our case we should replace the usage of `getErrorsCount` with `isErrorLimitExceeded`.

The `isErrorLimitExceeded` has the following code in 2.3-develop.

[code]

This means we will check for critical errors and also if the validation s

[2018-10-25 13:10] dmanners commented on #85
After research with @sawebvisum during a contribution day we found that this is probably not as easy as just adding the send email call. The frontend, admin and webapi all end up in the class `app/code/Magento/Customer/Model/AccountManagement.php` with the method `sendEmailConfirmation(CustomerInterface $customer, $redirectUrl)` which takes the customer object filled with information.

For our opi

[2018-10-25 14:07] dmanners opened #121 "Clean up Model/Import file (PHPStan)"
### Preconditions (*)

1. 2.3-develop
2. phpstan installed and run against app/code/Magento/ImportExport

### Steps to reproduce (*)

1. run `./vendor/bin/phpstan analyse -l 0 app/code/Magento/ImportExport/`

### Expected result (*)

1. No Errors

### Actual result (*)

[code]

[2018-10-25 14:09] dmanners opened #122 "Cleanup History file"
### Preconditions (*)

1. 2.3-develop
2. phpstan installed `composer require --dev phpstan/phpstan`

### Steps to reproduce (*)

1. run `./vendor/bin/phpstan analyse -l 0 app/code/Magento/ImportExport/Model/History.php`

### Expected result (*)

1. No errors

### Actual result (*)

[code]

[2018-10-25 14:13] dmanners opened #123 "Call to Magento\ImportExport\Model\Source\Import\Behavior\Custom with constructor arguments"
### Preconditions (*)

1. 2.3-develop
2. phpstan installed

### Steps to reproduce (*)

1. `./vendor/bin/phpstan analyse -l 0 app/code/Magento/ImportExport/Test/Unit/Model/Source/Import/Behavior/CustomTest.php`

### Expected result (*)

1. No errors

### Actual result (*)

[code]

[2018-10-25 14:16] dmanners opened #124 "Clean up AbstractEntity attributes"
### Preconditions (*)

1. 2.3-develop
2. phpstan

### Steps to reproduce (*)

1. `./vendor/bin/phpstan analyse -l 0 app/code/Magento/ImportExport/Model/Export/Entity/AbstractEntity.php`

### Expected result (*)

1. No errors

### Actual result (*)

[code]

[2018-10-25 14:18] dmanners opened #125 "Clean Up Magento/ImportExport/Block/Adminhtml/Export/Filter"
### Preconditions (*)

1. 2.3-develop
2. phpstan installed

### Steps to reproduce (*)

1. `./vendor/bin/phpstan analyse -l 0 app/code/Magento/ImportExport/Block/Adminhtml/Export/Filter.php`

### Expected result (*)

1. No errors

### Actual result (*)

[code]

[2018-10-25 14:20] dmanners opened #126 "Clean Up Magento/ImportExport/Controller/Adminhtml/History/Download"
### Preconditions (*)

1. 2.3-develop
2. phpstan installed

### Steps to reproduce (*)

1. ` ./vendor/bin/phpstan analyse -l 0 app/code/Magento/ImportExport/Controller/Adminhtml/History/Download.php`

### Expected result (*)

1. No errors

### Actual result (*)

[code]

[2018-10-25 14:23] dmanners opened #127 "Clean up Magento/CatalogImportExport/Test/Unit/Model/Import/Product/Validator/TierPriceTest"
### Preconditions (*)

1. 2.3-develop
2. phpstan installed

### Steps to reproduce (*)

1. Run ` ./vendor/bin/phpstan analyse -l 0 app/code/Magento/CatalogImportExport/Test/Unit/Model/Import/Product/Validator/TierPriceTest.php`

### Expected result (*)

1. No errors

### Actual result (*)

[code]

[2018-10-25 14:34] dmanners opened #128 "Does Magento\CatalogImportExport\Model\Import\Uploader need to extend Magento\MediaStorage\Model\File\Uploader?"
### Preconditions (*)

1. Look at `Magento\CatalogImportExport\Model\Import\Uploader` it extends `Magento\MediaStorage\Model\File\Uploader` but does not call it's construct method. Question here is does this mean that it should not extend this class?

I would love someone to investigate what exactly we use of any parent classes and report back to see if we would be able to refactor the Uploader cl

[2018-10-25 14:37] dmanners opened #129 "Does Magento\CatalogImportExport\Test\Unit\Model\Export\StubProduct need to extend Magento\CatalogImportExport\Model\Export\Product?"
After running PHPStan on the class `Magento\CatalogImportExport\Test\Unit\Model\Export\StubProduct` I get the following error.

[code]

This leads me to the question. Does the stub product need to extend the main product if it does not call the constructor?

I would love someone to do a bit of research into this and see if it is needed and if now suggest how best to refactor this.

[2018-10-26 08:33] mautz-et-tong commented on #40
What's good first of all is that this error has the same behaviour in the backend. And to stay consistent we should have a look at the backend.
For example, if you are on the store view 1 and enable the product and save it, it will be enabled in the store view 2 because they belong to the same website and the product status is website based. So in this case, we have a consistency between the repor

[2018-10-26 08:54] dmanners commented on #89
My opinion here would be that we could consider updating the documentation and tool tips to help describe the settings for the import better.

[2018-10-26 08:56] dmanners commented on #93
The plan here would be to show the status of the import on the success page. So in that way if you have imported 2000 products it should say so. Show the validation messages on the success page would also be good in this ticket.

[2018-10-26 09:25] dmanners commented on #35
After our testing we have decided that this is not an issue. Following the documented approach the upload is working as expected. Even uploading the empty csv from the download will not throw and error.

[2018-10-26 09:29] dmanners commented on #17
@mautz-et-tong mentioned this today that it would be nice to see exactly what rows errored and maybe have a csv of just the broken rows. This would need more consideration for things like complex products etc.

[2018-10-26 09:45] dmanners opened #131 "Clean Up Test/Unit/Model/Import/Product/Type/ConfigurableTest.php"
### Preconditions (*)

1. 2.3-develop
2. phpstan installed

### Steps to reproduce (*)

1. Run `./vendor/bin/phpstan analyse app/code/Magento/ConfigurableImportExport/Test/Unit/Model/Import/Product/Type/ConfigurableTest.php`

### Expected result (*)

1. No Errors

### Actual result (*)

[code]

[2018-10-26 09:47] dmanners opened #132 "Clean up app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricing/Validator/WebsiteTest.php"
### Preconditions (*)

1. 2.3-develop
2. PHPStan installed

### Steps to reproduce (*)

1. Run `./vendor/bin/phpstan analyse app/code/Magento/AdvancedPricingImportExport/Test/Unit/Model/Import/AdvancedPricing/Validator/WebsiteTest.php`

### Expected result (*)

1. No Errors

### Actual result (*)

[code]

[2018-10-26 09:50] dmanners opened #133 "Does app/code/Magento/AdvancedPricingImportExport/Model/Import/AdvancedPricing.php need to extend Magento\ImportExport\Model\Import\Entity\AbstractEntity"
Question for this is does this class really need to extend ` Magento\ImportExport\Model\Import\Entity\AbstractEntity`? What parts is it using and what would happen if we replaced the parent?

Outcome here would be some suggestions on if and how we could refactor this class to remove the parent dependacy if we really do not need it.

[2018-10-26 09:52] dmanners opened #134 "Clean up Model/Import/Product/Type/Bundle.php"
### Preconditions (*)

1. 2.3-develop
2. PHPStan installed

### Steps to reproduce (*)

1. Run `./vendor/bin/phpstan analyse app/code/Magento/BundleImportExport/Model/Import/Product/Type/Bundle.php`

### Expected result (*)

1. No Errors

### Actual result (*)

[code]

[2018-10-26 09:55] dmanners opened #135 "Clean up Model/ResourceModel/Import/Customer/Storage.php"
### Preconditions (*)

1. 2.3-develop
2. PHPStan installed

### Steps to reproduce (*)

1. Run `./vendor/bin/phpstan analyse app/code/Magento/CustomerImportExport/Model/ResourceModel/Import/Customer/Storage.php`

### Expected result (*)

1. No Errors

### Actual result (*)

[code]

[2018-10-26 09:57] dmanners opened #136 "Clean up Model/Import/Address.php"
### Preconditions (*)

1. 2.3-develop
2. PHPStan installed

### Steps to reproduce (*)

1. Run `./vendor/bin/phpstan analyse app/code/Magento/CustomerImportExport/Model/Import/Address.php
`

### Expected result (*)

1. No errors

### Actual result (*)

[code]

[2018-10-26 09:59] dmanners opened #137 "Clean Up Helper/Uploader.php"
### Preconditions (*)

1. 2.3-develop
2. PHPStan installed

### Steps to reproduce (*)

1. Run `./vendor/bin/phpstan analyse app/code/Magento/DownloadableImportExport/Helper/Uploader.php`

### Expected result (*)

1. No Errors

### Actual result (*)

[code]

[2018-10-26 12:18] dmanners commented on #77
This has been covered by https://github.com/magento/magento2/pull/12872

[2018-10-26 12:18] #77 closed, assigned to nobody

[2018-10-27 04:50] thicolares commented on #121
May I? :) I've just reproduced the errors. Can you assign it to me?

[2018-10-27 05:43] thicolares commented on #121
After cleaning up the first error, I got:
[code]

I could not found the \Magento\MediaStorage\Model\File\UploaderFactory nor its history. Do you know about it?

[2018-10-28 21:53] denispapec commented on #121
Hi @colares,
\Magento\MediaStorage\Model\File\UploaderFactory is a [factory class](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/factories.html), created during Magento compilation from [Uploader](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/MediaStorage/Model/File/Uploader.php) class.
After cleaning up errors from initial comments, compiling Magento code, th

[2018-10-28 23:33] thicolares commented on #121
Mm.. Thank you, @denispapec! In fact I suspected that I had forgotten some step, since I did not find the class in the repository. I will compile Magento this time. Btw, that's my first time ever I'm interacting with a Magento's code :)

[2018-10-29 10:21] dmanners commented on #121
Hi @colares thanks for the question. Yes the factory classes during compilation sorry for not adding that information in original ticket.

[2018-10-29 11:14] dmanners commented on #62
This has been covered by PR https://github.com/magento-engcom/import-export-improvements/pull/120. It has now been merged into 2.3-develop.

[2018-10-29 11:14] #62 closed

[2018-11-04 12:38] sebastianrothbucher commented on #34
I guess until 2.3 (looks like around the corner anyway), setup steps and/or some SQL is the way to go. Esp. the latter is not nice, but here's one for a quick fix to bridge over (no warranty ;-) ); can be generated from CSV by Excel
[code]

[2018-11-09 13:29] dmanners commented on #136
Thanks for this PR. This has now been merged into 2.3-develop.

[2018-11-09 13:29] #136 closed, assigned to nobody

[2018-11-09 13:29] dmanners commented on #54
Thanks for this PR. This has now been merged into 2.3-develop.

[2018-11-09 13:29] #54 closed

[2018-11-09 13:30] dmanners commented on #93
This PR has now been merged into 2.3-develop.

[2018-11-09 13:30] #93 closed, assigned to staniag

[2018-11-13 10:35] dmanners commented on #89
So for this task what we are looking for here is 2 things:

1. Updating the documentation,
2. Adding UI labels via some form of hint icon,

Both of these should clearly describe what happens with the different flags for the import process. Especially the BEHAVIOR_REPLACE. We will not change the behavior at the moment but instead make the current behavior much more clearer in this ticket.

[2018-11-13 10:41] dmanners commented on #40
I would suggest that we should start by doing step 2 and documenting what will happen in this case. It might be a nice idea to add some devdocs or some other place an FAQ for such cases and common issues. @lorikrell do you think that this would make sense to be in dev docs?

[2018-11-13 16:06] lorikrell commented on #89
Any updates need in documentation, I'm available to help in Merch Docs and DevDocs.

[2018-11-27 10:35] dmanners commented on #51
Merged as part of https://github.com/magento/magento2/pull/18810

[2018-11-27 10:35] #51 closed

[2018-11-30 17:31] dmanners commented on #122
Covered by PR https://github.com/magento-engcom/import-export-improvements/pull/150

[2018-11-30 17:31] #122 closed, assigned to nobody

[2018-12-24 15:07] mflasquin commented on #54
Hi, can you tell me when this PR will be available on Magento 2.3.0 stable branch ?
Thanks

[2019-02-13 21:27] #24 closed

[2019-03-11 13:38] tkymuk commented on #90
Does anyone have a working fix for this? I've created a configurable product with 4 simples, downloaded the product info and then re-uploaded without changing anything and the simples are not linked to the configurable.

The ormating suggested above is as is, store view has no data in the cells but the issue is still there.

[2019-03-21 13:31] #137 closed, assigned to nobody

[2019-03-21 13:31] #135 closed, assigned to nobody

[2019-03-21 13:31] #134 closed, assigned to nobody

[2019-03-21 13:31] #132 closed, assigned to nobody

[2019-03-21 13:32] #126 closed, assigned to nobody

[2019-03-21 13:32] #125 closed, assigned to nobody

[2019-03-21 13:32] #123 closed, assigned to nobody

[2019-04-11 20:23] curkle commented on #90
Please verify the product is **configurable** , magneto 2 will auto convert configurable to simple if there is no associate products when you save the product

using query to update the catalog_product_entity table and set type_id = 'configurable' to fix this issue

[2019-04-22 10:54] km9484 commented on #37
to fix thi issue just replace function

protected function _generateUniqueSku($object)
    {
        $attribute = $this->getAttribute();
        $entity = $attribute->getEntity();
        $attributeValue = $object->getData($attribute->getAttributeCode());
        $increment = null;
        while (!$entity->checkAttributeUniqueValue($attribute, $object)) {
            if ($increment === null) {

[2019-04-29 15:41] #128 closed, assigned to nobody

[2019-04-29 15:41] #129 closed, assigned to nobody

[2019-04-29 15:41] #133 closed, assigned to nobody

[2019-04-29 15:41] #121 closed, assigned to nobody

[2019-04-29 15:41] #124 closed, assigned to nobody

[2019-04-29 15:41] #127 closed, assigned to nobody

[2019-04-29 15:42] #131 closed, assigned to nobody